<div class="container-fluid mb-5">
  <div class="card border-0">
    <div class="card-body">
      <h5 class="card-title">Trading Ideas</h5>
      <p class="card-text" note>
        Newest Trading Ideas gaining momentum in the stock market. This list is updated periodically to reflect the
        market sentiment.
      </p>
      <ul class="pl-0">
        <li style="list-style-type: lower-alpha" class="ml-3 mb-3 note">
          <span class="card-text step-text">Each Trading idea has a list of stocks associated with the idea.</span>
        </li>
        <li style="list-style-type: lower-alpha" class="ml-3 mb-3 note">
          <span class="card-text step-text">Lists publiclity traded stocks from NASDAQ, NYSE and AMEX.</span>
        </li>
        <li style="list-style-type: lower-alpha" class="ml-3 mb-3 note">
          <span class="card-text step-text">Click on "View List" to see the list of stocks in each category.</span>
        </li>
        <li style="list-style-type: lower-alpha" class="ml-3 mb-3 note">
          <span class="card-text step-text"
            >Each card displays the percent gain/loss by the ETF for this trading Idea.</span
          >
        </li>
      </ul>
    </div>
  </div>
  <div *ngIf="listCard$ | async as cards" class="m-3 card-columns">
    <div class="card pb-3 mb-4 border-0 shadow" *ngFor="let card of cards">
      <img class="card-img-top" height="200" src="{{ card.img }}" alt="Card image cap" />
      <div class="card-body">
        <h5 class="card-title line-clamp-1">{{ card.title }}</h5>
        <p class="card-text note line-clamp-3">
          {{ card.desc }}
        </p>
        <div>
          <button (click)="getList(card)" class="btn btn-outline-primary float-left">View List</button>
          <span class="float-right" *ngIf="card.day_change && card.day_change > 0">
            {{ card.day_change / 100 | percent: '1.0-2' }}
          </span>
          <span class="float-right" *ngIf="card.day_change && card.day_change < 0">
            {{ card.day_change / 100 | percent: '1.0-2' }}
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
