<div class="container-fluid">
  <div *ngIf="listDetails$ | async as listDetails">
    <div class="card mb-5">
      <h5 class="card-header">Trading Idea</h5>
      <div class="card-body">
        <h5 class="card-title">{{ listDetails.title }}</h5>
        <hr />
        <div class="row">
          <div class="col-12 col-md-9">
            <p class="card-text lead" [innerHTML]="listDetails.desc"></p>
            <div *ngIf="listDetails.day_change">
              One-day change:
              <span class="ml-2" *ngIf="listDetails.day_change > 0">
                <i class="fas fa-arrow-up"></i>
                {{ listDetails.day_change / 100 | percent: '1.0-2' }}
              </span>
              <span class="ml-2" *ngIf="listDetails.day_change < 0">
                <i class="fas fa-arrow-down"></i>
                {{ listDetails.day_change / 100 | percent: '1.0-2' }}
              </span>
            </div>
          </div>
          <div class="col-12 col-md-3 mt-3 mt-md-0">
            <div class="ver-line pl-4 pr-2 mb-5">
              <ul class="pl-0 mb-5">
                <li class="ml-3 mb-3">
                  <span class="step-text">List of stocks that qualify for the Trading Idea</span>
                </li>
                <li class="ml-3 mb-3">
                  <span class="step-text">Click on a symbol to see more details about it</span>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="table-container border">
      <table class="mt-20 table table-striped table-hover">
        <thead>
          <tr>
            <th width="380" class="text-center" scope="col">Company</th>
            <!-- <th class="text-center" scope="col">Company</th> -->
            <th class="text-center" style="width: 7%" scope="col">Trend</th>
            <!-- <th class="text-center" style="width: 7%" scope="col">Price</th>
            <th class="text-center" style="width: 7%" scope="col">Volume</th> -->
            <th class="text-center" style="width: 7%" scope="col">
              Dividend
              <a href="https://www.investopedia.com/terms/d/dividendyield.asp" target="_blank">
                <i class="fa fa-info-circle" title="Current Dividend Yield of the stock" aria-hidden="true"></i>
              </a>
            </th>
            <th class="text-center" style="width: 7%" scope="col">
              P/E
              <a href="https://www.investopedia.com/terms/p/price-earningsratio.asp" target="_blank">
                <i class="fa fa-info-circle" title="Current P/E ratio of the stock" aria-hidden="true"></i>
              </a>
            </th>
            <th class="text-center" style="width: 9%" scope="col">Market Cap</th>
            <th class="text-center" scope="col">
              Industry
              <a href="https://www.investopedia.com/terms/i/industry.asp" target="_blank">
                <i class="fa fa-info-circle" title="Industry of a stock" aria-hidden="true"></i>
              </a>
            </th>
            <th class="text-center" style="width: 10%" scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let listRow of listDetails.list" class="table-row">
            <app-single-quote-widget [symbol]="listRow.symbol" [exchange]="listRow.exchange"></app-single-quote-widget>
            <!-- <td class="text-left company-name">
              <a class="symbol" href="/symbolDetails/{{ listRow.symbol }}">{{ listRow.symbol }}</a>
              <br />
              {{ listRow.companyName | truncate: 40 | uppercase }}
            </td> -->
            <td class="text-left trend">
              <div *ngIf="listRow.trend == 1">
                <i class="fas fa-arrow-up"></i>
                <span class="trend">Uptrend</span>
              </div>
              <div *ngIf="listRow.trend == -1">
                <i class="fas fa-arrow-down"></i>
                <span class="trend">Downtrend</span>
              </div>
              <div *ngIf="listRow.trend == 0">
                <i class="fas fa-arrow-right"></i>
                <span class="trend">Neutral</span>
              </div>
              <app-view-trend-details [symbol]="listRow.symbol"></app-view-trend-details>
            </td>
            <!-- <td class="text-right price">
              {{ listRow.price | currency }} -->
            <!-- <div *ngIf="listRow.bestBuy === 1">
                <span class="badge badge-pill badge-primary info-badge">
                  <i class="far fa-flag" aria-hidden="true"></i> &nbsp;Bestbuy
                </span>
              </div> -->
            <!-- </td>
            <td class="text-right volume">
              {{ listRow.volume | number }}
            </td> -->
            <td class="text-center dividend">
              <span *ngIf="!listRow.dividendYield || listRow.dividendYield == '0'">-</span>
              <span *ngIf="listRow.dividendYield != '0'">{{ listRow.dividendYield | percent: '1.0-2' }}</span>
            </td>
            <td class="text-center pe-ratio">
              {{ listRow.peRatio | number: '1.0-2' }}
            </td>
            <td class="text-right market-cap">
              {{ getPrunedValue(listRow.marketcap) }}
            </td>
            <td class="text-left" style="word-wrap: break-word; min-width: 160px; max-width: 160px; font-size: 14px">
              <div *ngIf="listRow.industry">
                <a *ngIf="listRow.industryId" href="/subSectorDetails/{{ listRow.industryId }}" class="industry">
                  {{ listRow.industry }}
                </a>
                <div *ngIf="!listRow.industryId" class="industry">
                  {{ listRow.industry }}
                </div>
                <div *ngFor="let industryBadge of listRow.industryBadgeList">
                  <span class="badge badge-pill badge-info pill-wrap">{{ industryBadge }}</span>
                </div>
              </div>
              <div *ngIf="!listRow.industry">N/A</div>
            </td>
            <td class="text-left note">
              <div class="action-btn-group" *ngIf="!isFavorite(listRow.symbol)">
                <a href="javascript:void(0);" (click)="addToFavorites(listRow.symbol)" class="btn-pading text-btn">
                  Add to Favorites
                </a>
              </div>
              <div class="action-btn-group" *ngIf="isFavorite(listRow.symbol)">
                <a href="javascript:void(0);" (click)="removeFromFavorites(listRow.symbol)" class="btn-pading text-btn">
                  Delete from Favorites
                </a>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="text-right p-2" *ngIf="!hideViewMoreBtn">
    <button type="button" (click)="viewMoreFn()" class="btn btn-orange">View More</button>
  </div>
</div>
