<div class="container-fluid mb-5">
  <div *ngIf="allSectorList$ | async as sectorList">
    <ul>
      <li>Grouped by major sector in the US Market</li>
      <li>Click on "VIEW LIST", to see the stocks in each sector and its trend.</li>
    </ul>
    <!-- <p>
      All sectors in the market and number of stocks uptrending in each sector. Click on 'View List' to see all the
      stocks.
    </p> -->
    <div class="mt-3 card-columns">
      <div class="card pb-3 mb-4 border-0 shadow" *ngFor="let card of sectorList">
        <img class="card-img-top" height="200" src="{{ card.imageName }}" alt="Card image cap" />
        <div class="card-body">
          <h5 class="card-title line-clamp-1">{{ card.displayName | truncate: 20 }}</h5>
          <p class="card-text card-text line-clamp-3">
            {{ card.desc }}
          </p>
          <button
            (click)="gotoSectorList(card)"
            [disabled]="card.count === 0"
            class="btn btn-outline-primary float-left"
          >
            VIEW LIST
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
