<div class="container-fluid mb-4">
  <div class="tradingview-widget-container" id="symbolInfoWidget">
    <div class="tradingview-widget-container__widget"></div>
  </div>
  <div class="btn-group mt-3 mb-3">
    <div class="dropdown show ml-2">
      <a
        class="btn btn-primary dropdown-toggle"
        href="#"
        role="button"
        id="dropdownMenuLink"
        data-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false"
      >
        Buy with your trading platform
      </a>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        <a class="dropdown-item" href="https://schwab.com" target="_blank">Schwab</a>
        <a class="dropdown-item" href="https://etrade.com" target="_blank">E-Trade</a>
        <a class="dropdown-item" href="https://webtrading.tradestation.com" target="_blank">Trade Station</a>
        <a class="dropdown-item" href="https://ndcdyn.interactivebrokers.com/sso/Login?RL=1" target="_blank"
          >Interactive Brokers</a
        >
      </div>
    </div>
    <button *ngIf="!isFavorite" type="button" class="ml-2 btn btn-secondary" (click)="addToFavorites()">
      <i class="fas fa-heart"></i>
      Add to Favorite List & track everyday
    </button>
    <button *ngIf="isFavorite" type="button" class="ml-2 btn btn-secondary" (click)="removeFromFavorites()">
      <i class="far fa-heart"></i>
      Remove from Favorite List
    </button>
    <button type="button" class="ml-2 btn btn-secondary" (click)="open(mymodal)">
      <i class="fas fa-sticky-note"></i>
      Add Notes
    </button>
  </div>

  <!-- Trending Details Container -->
  <div class="mb-4" *ngIf="trendingDetails$ | async as trendingDetails">
    <div class="card border-0 shadow-lg h-100 px-4 pt-4 pb-1 mb-4">
      <div class="row">
        <div class="col-md-4 col-sm-6 col-12 mb-3">
          <span>Today's Price Behavior - </span>
          <span class="font-weight-bold">{{ trendingDetails.todaysPriceBehaviour }}</span>
          <span *ngIf="trendingDetails.todaysPriceBehaviour">
            <span *ngIf="trendingDetails.todaysPriceBehaviour.toLowerCase() === 'bullish'">
              <!-- <i class="fas fa-arrow-up"></i> -->
              <img src="assets/bullish-trend-icon.png" style="height: 40px; width: 40px" alt="Bullish" />
            </span>
            <span *ngIf="trendingDetails.todaysPriceBehaviour.toLowerCase() === 'bearish'">
              <!-- <i class="fas fa-arrow-down"></i> -->
              <img src="assets/bearish-trend-icon.png" style="height: 40px; width: 40px" alt="Bearish" />
            </span>
            <span *ngIf="trendingDetails.todaysPriceBehaviour.toLowerCase() === 'neutral'">
              <!-- <i class="fas fa-arrow-right"></i> -->
              <img src="assets/neutral-trend-icon.png" style="height: 40px; width: 40px" alt="Neutral" />
            </span>
          </span>
        </div>
        <div class="col-md-4 col-sm-6 col-12 mb-3">
          <span>Trend Indicators - </span>
          <span class="font-weight-bold">{{ trendingDetails.trendIndicators }}</span>
          <span *ngIf="trendingDetails.trendIndicators">
            <span *ngIf="trendingDetails.trendIndicators.toLowerCase() === 'bullish'">
              <!-- <i class="fas fa-arrow-up"></i> -->
              <img src="assets/bullish-trend-icon.png" style="height: 40px; width: 40px" alt="Bullish" />
            </span>
            <span *ngIf="trendingDetails.trendIndicators.toLowerCase() === 'bearish'">
              <!-- <i class="fas fa-arrow-down"></i> -->
              <img src="assets/bearish-trend-icon.png" style="height: 40px; width: 40px" alt="Bearish" />
            </span>
            <span *ngIf="trendingDetails.trendIndicators.toLowerCase() === 'neutral'">
              <!-- <i class="fas fa-arrow-right"></i> -->
              <img src="assets/neutral-trend-icon.png" style="height: 40px; width: 40px" alt="Neutral" />
            </span>
          </span>
        </div>
        <div class="col-md-4 col-sm-6 col-12 mb-3">
          <span>Good to start new position ? - </span>
          <span *ngIf="trendingDetails.startNewPositionCandle === 0">
            <img
              src="assets/no-entry.png"
              style="height: 40px; width: 40px"
              alt="Caution before starting a new position"
            />
          </span>
          <span *ngIf="trendingDetails.startNewPositionCandle === 1">
            <img src="assets/check-mark.png" style="height: 40px; width: 40px" alt="Good to start new position" />
          </span>
        </div>
      </div>
    </div>
    <div class="card border-0 shadow-lg h-100 px-4 pt-4 pb-1">
      <div class="row pb-2 mb-3 border-bottom">
        <div class="col-12 col-md-6 col-lg-6">
          <div>
            <span class="h4">{{ activeSymbol }}'s Trend Strength - </span>
            <span class="font-weight-bold">{{ trendingDetails.trendStrength }}</span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 col-sm-6 col-12 mb-3">
          <span>Monthly - </span>
          <span class="font-weight-bold">{{ trendingDetails.monthlyTrendline }}</span>
          <span *ngIf="trendingDetails.monthlyTrendline">
            <span *ngIf="trendingDetails.monthlyTrendline.toLowerCase() === 'uptrend'">
              <!-- <i class="fas fa-arrow-up"></i> -->
              <img src="assets/bullish-trend-icon.png" style="height: 40px; width: 40px" alt="Bullish" />
            </span>
            <span *ngIf="trendingDetails.monthlyTrendline.toLowerCase() === 'downtrend'">
              <!-- <i class="fas fa-arrow-down"></i> -->
              <img src="assets/bearish-trend-icon.png" style="height: 40px; width: 40px" alt="Bearish" />
            </span>
            <span *ngIf="trendingDetails.monthlyTrendline.toLowerCase() === 'sideways trend'">
              <!-- <i class="fas fa-arrow-right"></i> -->
              <img src="assets/neutral-trend-icon.png" style="height: 40px; width: 40px" alt="Neutral" />
            </span>
          </span>
        </div>
        <div class="col-md-4 col-sm-6 col-12 mb-3">
          <span>Quarterly - </span>
          <span class="font-weight-bold">{{ trendingDetails.quaterlyTrendline }}</span>
          <span *ngIf="trendingDetails.quaterlyTrendline">
            <span *ngIf="trendingDetails.quaterlyTrendline.toLowerCase() === 'uptrend'">
              <!-- <i class="fas fa-arrow-up"></i> -->
              <img src="assets/bullish-trend-icon.png" style="height: 40px; width: 40px" alt="Bullish" />
            </span>
            <span *ngIf="trendingDetails.quaterlyTrendline.toLowerCase() === 'downtrend'">
              <!-- <i class="fas fa-arrow-down"></i> -->
              <img src="assets/bearish-trend-icon.png" style="height: 40px; width: 40px" alt="Bearish" />
            </span>
            <span *ngIf="trendingDetails.quaterlyTrendline.toLowerCase() === 'sideways trend'">
              <!-- <i class="fas fa-arrow-right"></i> -->
              <img src="assets/neutral-trend-icon.png" style="height: 40px; width: 40px" alt="Neutral" />
            </span>
          </span>
        </div>
        <div class="col-md-4 col-sm-6 col-12 mb-3">
          <span>Yearly - </span>
          <span class="font-weight-bold">{{ trendingDetails.yearlyTrendline }}</span>
          <span *ngIf="trendingDetails.yearlyTrendline">
            <span *ngIf="trendingDetails.yearlyTrendline.toLowerCase() === 'uptrend'">
              <!-- <i class="fas fa-arrow-up"></i> -->
              <img src="assets/bullish-trend-icon.png" style="height: 40px; width: 40px" alt="Bullish" />
            </span>
            <span *ngIf="trendingDetails.yearlyTrendline.toLowerCase() === 'downtrend'">
              <!-- <i class="fas fa-arrow-down"></i> -->
              <img src="assets/bearish-trend-icon.png" style="height: 40px; width: 40px" alt="Bearish" />
            </span>
            <span *ngIf="trendingDetails.yearlyTrendline.toLowerCase() === 'sideways trend'">
              <!-- <i class="fas fa-arrow-right"></i> -->
              <img src="assets/neutral-trend-icon.png" style="height: 40px; width: 40px" alt="Neutral" />
            </span>
          </span>
        </div>
      </div>
    </div>
  </div>

  <div class="mb-4" *ngIf="symbolIndustryDetailsResp$ | async as symbolIndustryDetailsResp">
    <div class="card border-0 shadow-lg h-100 p-4">
      <div class="row pb-2 mb-3 border-bottom">
        <div class="col-12 col-md-6 col-lg-6">
          <div>
            <span class="h4">{{ activeSymbol }}'s Industry </span> -
            <a href="/subSectorDetails/{{ symbolIndustryDetailsResp.industryId }}">{{
              symbolIndustryDetailsResp.industry
            }}</a>
          </div>
          <div class="font-weight-bold small text-success">
            Rank : {{ symbolIndustryDetailsResp.industryRank }} / 144
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-6 text-md-right text-left">
          <div *ngIf="symbolIndustryDetailsResp.change">
            <div class="mb-2">
              Today's gain :
              <span class="font-weight-bold">{{ symbolIndustryDetailsResp.change / 100 | percent: '1.0-2' }}</span>
              <!-- <span class="font-weight-bold">{{ symbolIndustryDetailsResp.change / 100 | percent: '1.0-2' }}</span> -->
            </div>
          </div>
        </div>
        <div class="col-12 text-md-right text-left">
          <span *ngFor="let industryBadge of symbolIndustryDetailsResp.industryBadgeList">
            <span class="badge badge-pill my-1 badge-info info-badge pill-wrap font-weight-normal px-3">{{
              industryBadge
            }}</span>
          </span>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-2 col-md-4 col-sm-4 col-6 mb-lg-0 mb-2">
          <div>1-Week gain</div>
          <span class="font-weight-bold">{{ symbolIndustryDetailsResp.perf_week / 100 | percent: '1.0-2' }}</span>
        </div>
        <div class="col-lg-2 col-md-4 col-sm-4 col-6 mb-lg-0 mb-2">
          <div>1-Month gain</div>
          <span class="font-weight-bold">{{ symbolIndustryDetailsResp.perf_month / 100 | percent: '1.0-2' }}</span>
        </div>
        <div class="col-lg-2 col-md-4 col-sm-4 col-6 mb-lg-0 mb-2">
          <div>1-Quater gain</div>
          <span class="font-weight-bold">{{ symbolIndustryDetailsResp.perf_quart / 100 | percent: '1.0-2' }}</span>
        </div>
        <div class="col-lg-2 col-md-4 col-sm-4 col-6 mb-lg-0 mb-2">
          <div>6-Month gain</div>
          <span class="font-weight-bold">{{ symbolIndustryDetailsResp.perf_half / 100 | percent: '1.0-2' }}</span>
        </div>
        <div class="col-lg-2 col-md-4 col-sm-4 col-6 mb-lg-0 mb-2">
          <div>1-Year gain</div>
          <span class="font-weight-bold">{{ symbolIndustryDetailsResp.perf_year / 100 | percent: '1.0-2' }}</span>
        </div>
        <div class="col-lg-2 col-md-4 col-sm-4 col-6 mb-lg-0 mb-2">
          <div>YTD gain</div>
          <span class="font-weight-bold">{{ symbolIndustryDetailsResp.perf_ytd / 100 | percent: '1.0-2' }}</span>
        </div>
      </div>
    </div>
  </div>

  <div class="tab-content">
    <div class="tab-pane fade show active" id="nav-analysis" role="tabpanel" aria-labelledby="nav-analysis-tab">
      <div class="row">
        <!-- <div class="col-md-6 col-sm-12 mb-4" *ngIf="symbolDetailsResp$ | async as symbolDetailsResp">
          <div class="card border-0 shadow-lg h-100 p-4">
            <div class="card-body">
              <div class="card-title mb-4">
                <h4>Investing style</h4>
              </div>
              <div *ngIf="symbolDetailsResp.symbol; else noModelDiv">
                <div *ngIf="symbolDetailsResp.gain_flag === 1" class="ml-2">
                  <img class="card-img-top" src="assets/gain.png" style="height: 150px" alt="Card image cap" />
                  <div class="card-body mb-5">
                    <h5 class="card-title p-3">Prediction - Gain</h5>
                  </div>
                </div>
                <div *ngIf="symbolDetailsResp.gain_flag === 0">
                  <img class="card-img-top" src="assets/loss.png" style="height: 150px" alt="Card image cap" />
                  <div class="card-body mb-5">
                    <h5 class="card-title p-3">Prediction - Loss</h5>
                  </div>
                </div>
                <hr />
                <div>
                  <div class="card-body mb-5">
                    <h5 class="card-title">Confidence Score</h5>
                    <h1 class="card-subtitle text-center mb-3 p-3">
                      {{ symbolDetailsResp.confidence | percent: '1.0-2' }}
                    </h1>
                    <small class="card-text text-muted"
                      >Percent match of {{ symbolDetailsResp.symbol }}'s today pattern with your past succesful
                      transactions</small
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div> -->
        <div class="col-md-6 col-lg-4 col-sm-12 mb-4" *ngIf="analystReccomendationResp$ | async as anaReccoResp">
          <div class="card border-0 shadow-lg h-100 p-4">
            <div class="card-body">
              <div class="card-title mb-4">
                <h4>Analyst Analysis</h4>
              </div>
              <div>
                <div *ngIf="anaReccoResp.length > 0; else noDataDiv" class="row">
                  <div class="col-12 d-flex justify-content-center p-0">
                    <ngx-charts-pie-chart
                      [view]="view"
                      [scheme]="colorScheme"
                      [results]="anaReccoResp"
                      [gradient]="pieGradient"
                      [legend]="pieShowLegend"
                      [legendPosition]="legendPosition"
                      [labels]="pieShowLabels"
                      [doughnut]="isDoughnut"
                      (select)="onSelect($event)"
                      (activate)="onActivate($event)"
                      (deactivate)="onDeactivate($event)"
                    >
                    </ngx-charts-pie-chart>
                  </div>
                  <div class="col-12">
                    <div class="row">
                      <div class="col-6 p-0">
                        <div
                          class="bg-light m-1 p-2 border-0 list-group-item d-flex justify-content-between align-items-center"
                        >
                          Buy
                          <span class="badge badge-primary badge-pill">{{ getAnalystReccomendationValue('Buy') }}</span>
                        </div>
                      </div>
                      <div class="col-6 p-0">
                        <div
                          class="bg-light m-1 p-2 border-0 list-group-item d-flex justify-content-between align-items-center"
                        >
                          Overweight
                          <span class="badge badge-primary badge-pill">{{
                            getAnalystReccomendationValue('Overweight')
                          }}</span>
                        </div>
                      </div>
                      <div class="col-6 p-0">
                        <div
                          class="bg-light m-1 p-2 border-0 list-group-item d-flex justify-content-between align-items-center"
                        >
                          Hold
                          <span class="badge badge-primary badge-pill">{{
                            getAnalystReccomendationValue('Hold')
                          }}</span>
                        </div>
                      </div>
                      <div class="col-6 p-0">
                        <div
                          class="bg-light m-1 p-2 border-0 list-group-item d-flex justify-content-between align-items-center"
                        >
                          Underweight
                          <span class="badge badge-primary badge-pill">{{
                            getAnalystReccomendationValue('Underweight')
                          }}</span>
                        </div>
                      </div>
                      <div class="col-6 p-0">
                        <div
                          class="bg-light m-1 p-2 border-0 list-group-item d-flex justify-content-between align-items-center"
                        >
                          Sell
                          <span class="badge badge-primary badge-pill">{{
                            getAnalystReccomendationValue('Sell')
                          }}</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 col-sm-12 mb-4" *ngIf="sentimentResp$ | async as sentimentResp">
          <div class="card border-0 shadow-lg h-100 p-4">
            <div class="card-body">
              <div class="card-title mb-4">
                <h4>Social Sentiment</h4>
              </div>
              <div>
                <div *ngIf="sentimentResp.value; else noDataDiv" class="row">
                  <div class="col-12 d-flex justify-content-center">
                    <rg-gauge-chart
                      [canvasWidth]="canvasWidth"
                      [needleValue]="sentimentResp.value"
                      [centralLabel]="centralLabel"
                      [options]="options"
                      [bottomLabel]="sentimentResp.value"
                    ></rg-gauge-chart>
                  </div>
                  <div class="col-12 mt-3">
                    <div class="row">
                      <div class="col-12 p-0">
                        <div
                          class="bg-light m-1 p-2 border-0 list-group-item d-flex justify-content-between align-items-center"
                        >
                          Positive
                          <span class="badge badge-primary badge-pill">{{ sentimentResp.positive | percent }}</span>
                        </div>
                      </div>
                      <div class="col-12 p-0">
                        <div
                          class="bg-light m-1 p-2 border-0 list-group-item d-flex justify-content-between align-items-center"
                        >
                          Negative
                          <span class="badge badge-primary badge-pill">{{ sentimentResp.negative | percent }}</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-12 col-lg-4 col-sm-12 mb-4">
          <div class="card border-0 shadow-lg h-100">
            <div class="tradingview-widget-container mx-auto" id="symbolTechnicalsWidget">
              <div class="tradingview-widget-container__widget"></div>
            </div>
          </div>
        </div>
        <ng-template #noModelDiv>
          <div class="ml-2 div-noModel">
            <p class="p-noModel">
              Want to know if this stock suit your investment style ? You are 1-step away from it.
            </p>
            <p class="p-noModel">Click the below button to upload your old transactions from any brokerages.</p>
            <a class="btn btn-warning d-block" href="/uploadPortfolio" role="button"> Upload Transactions </a>
          </div>
        </ng-template>
        <ng-template #noDataDiv>
          <div class="ml-2 div-noData">
            <p class="p-noModel">No data available for {{ activeSymbol }}</p>
          </div>
        </ng-template>
      </div>
    </div>
    <div class="tab-pane fade" id="nav-features" role="tabpanel" aria-labelledby="nav-features-tab">
      <div class="mt-5">
        <hr />
        <div class="mb-2">
          <label class="h5">Technical / Fundamental Features for this Symbol</label>
        </div>
        <div class="card-group" *ngIf="symbolDetailsResp$ | async as symbolDetailsResp">
          <div class="card" style="max-width: 20%">
            <div class="card-body">
              <h6 class="p-2 mb-3 card-title text-center">Price/Volume</h6>
              <ng-container *ngFor="let tag of getArray(symbolDetailsResp.tags)">
                <div class="card-text m-2 text-center" *ngIf="isExistsInPriceVol(tag)">
                  <a role="button" (click)="gotoTagLink(tag)" [ngClass]="getClassForPills(tag)">
                    {{ getTagDisplayText(tag) }}
                  </a>
                </div>
              </ng-container>
            </div>
          </div>
          <div class="card" style="max-width: 20%">
            <div class="card-body">
              <h6 class="card-title mb-3 text-center p-2">Classification</h6>
              <ng-container *ngFor="let tag of getArray(symbolDetailsResp.tags)">
                <div class="card-text m-2 text-center" *ngIf="isExistsInClassification(tag)">
                  <a role="button" (click)="gotoTagLink(tag)" [ngClass]="getClassForPills(tag)">
                    {{ getTagDisplayText(tag) }}
                  </a>
                </div>
              </ng-container>
            </div>
          </div>
          <div class="card" style="max-width: 80%">
            <div class="card-body mb-5">
              <h6 class="m-2 card-title text-center">Technical</h6>
              <ng-container *ngFor="let tag of getArray(symbolDetailsResp.tags)">
                <span class="card-text m-2 text-center" *ngIf="isExistsInTechnical(tag)">
                  <a role="button" (click)="gotoTagLink(tag)" [ngClass]="getClassForPills(tag)">
                    {{ getTagDisplayText(tag) }}
                  </a>
                </span>
              </ng-container>
            </div>
          </div>
        </div>
        <div>
          <small class="text-muted">** Highlighted features where user showed substantial gains in the past </small>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-12 col-lg-12 p-0">
    <div class="shadow-lg" id="tradingview_73abe"></div>
  </div>
</div>

<ng-template #mymodal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Comments for {{ activeSymbol }}</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <div class="modal-body">
    <textarea
      class="form-control"
      rows="5"
      [(ngModel)]="userNotes"
      type="text"
      placeholder="Add notes here ..."
    ></textarea>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Update</button>
  </div>
</ng-template>
