<div class="container-fluid mb-4">
  <div class="tradingview-widget-container" id="symbolInfoWidget">
    <div class="tradingview-widget-container__widget"></div>
  </div>
  <div class="btn-group mt-3 mb-3">
    <div class="dropdown show ml-2">
      <a
        class="btn btn-primary dropdown-toggle"
        href="#"
        role="button"
        id="dropdownMenuLink"
        data-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false"
      >
        Buy with your trading platform
      </a>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        <a class="dropdown-item" href="https://schwab.com" target="_blank">Schwab</a>
        <a class="dropdown-item" href="https://etrade.com" target="_blank">E-Trade</a>
        <a class="dropdown-item" href="https://webtrading.tradestation.com" target="_blank">Trade Station</a>
        <a class="dropdown-item" href="https://ndcdyn.interactivebrokers.com/sso/Login?RL=1" target="_blank"
          >Interactive Brokers</a
        >
      </div>
    </div>
    <button
      *ngIf="isUserLoggedIn && displayBuyInsights"
      [disabled]="!enableSellInsights"
      type="button"
      class="ml-2 btn btn-info"
      (click)="showSellInsights()"
    >
      <i class="fas fa-money-bill" aria-hidden="true"></i>
      &nbsp;Show SELL insights
    </button>
    <button *ngIf="!displayBuyInsights" ng-dis type="button" class="ml-2 btn btn-info" (click)="showBuyInsights()">
      <i class="fas fa-money-bill" aria-hidden="true"></i>
      &nbsp;Show BUY insights
    </button>
    <button *ngIf="!isFavorite" type="button" class="ml-2 btn btn-secondary" (click)="addToFavorites()">
      <i class="fas fa-heart"></i>
      Add to Favorite List & track everyday
    </button>
    <button *ngIf="isFavorite" type="button" class="ml-2 btn btn-secondary" (click)="removeFromFavorites()">
      <i class="far fa-heart"></i>
      Remove from Favorite List
    </button>
    <button type="button" class="ml-2 btn btn-secondary" (click)="open(mymodal)">
      <i class="fas fa-sticky-note"></i>
      Add Notes
    </button>
  </div>

  <!-- Trending Details Container -->
  <div class="mb-4" *ngIf="displayTrendSection && trendingDetails$ | async as trendingDetails">
    <div class="card border-0 shadow-lg h-100 px-4 pt-4 pb-1">
      <div class="row pb-2 mb-3 border-bottom">
        <div class="col-12 col-md-6 col-lg-6">
          <div>
            <span class="h4">{{ activeSymbol }}'s Trend Strength - </span>
            <span class="font-weight-bold">{{ trendingDetails.trendStrength }}</span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3 col-sm-6 col-12 mb-3">
          <span>Overall Trend - </span>
          <span *ngIf="trendingDetails.trend">
            <span *ngIf="trendingDetails.trend == 1">
              <span class="font-weight-bold">Uptrend</span>
              <img src="assets/bullish-trend-icon.png" style="height: 40px; width: 40px" alt="Bullish" />
            </span>
            <span *ngIf="trendingDetails.trend == -1">
              <span class="font-weight-bold">Downtrend</span>
              <img src="assets/bearish-trend-icon.png" style="height: 40px; width: 40px" alt="Bearish" />
            </span>
            <span *ngIf="trendingDetails.trend == 0">
              <span class="font-weight-bold">Sideways</span>
              <img src="assets/neutral-trend-icon.png" style="height: 40px; width: 40px" alt="Neutral" />
            </span>
          </span>
        </div>
        <div class="col-md-6 col-sm-6 col-12 mb-3">
          <span>Trend Indicators - </span>
          <span class="font-weight-bold">{{ trendingDetails.trendIndicators }}</span>
          <span *ngIf="trendingDetails.trendIndicators">
            <span *ngIf="trendingDetails.trendIndicators.toLowerCase() === 'bullish'">
              <img src="assets/bullish-trend-icon.png" style="height: 40px; width: 40px" alt="Bullish" />
            </span>
            <span *ngIf="trendingDetails.trendIndicators.toLowerCase() === 'bearish'">
              <img src="assets/bearish-trend-icon.png" style="height: 40px; width: 40px" alt="Bearish" />
            </span>
            <span *ngIf="trendingDetails.trendIndicators.toLowerCase() === 'neutral'">
              <img src="assets/neutral-trend-icon.png" style="height: 40px; width: 40px" alt="Neutral" />
            </span>
          </span>
        </div>
        <div class="col-md-3 col-sm-6 col-12 mb-3">
          <span>Is now the time to buy ? - </span>
          <span *ngIf="trendingDetails.startNewPositionCandle === -1">
            <strong>No</strong>
            <img
              src="assets/no-entry.png"
              style="height: 40px; width: 40px"
              alt="Caution before starting a new position"
            />
          </span>
          <span *ngIf="trendingDetails.startNewPositionCandle === 1">
            <strong>Yes</strong>
            <img src="assets/check-mark.png" style="height: 40px; width: 40px" alt="Is now the time to buy ?" />
          </span>
          <span *ngIf="trendingDetails.startNewPositionCandle === 0">
            <strong>Neutral</strong>
            <img src="assets/maybe-icon.jpeg" style="height: 40px; width: 40px" alt="Is now the time to buy ?" />
          </span>
        </div>
      </div>
    </div>
  </div>

  <div class="mb-4" *ngIf="isUserLoggedIn">
    <div class="card border-0 shadow-lg h-100 p-4">
      <div *ngIf="openTxnData as adviceData">
        <div *ngIf="adviceData && adviceData.list && adviceData.list.length > 0">
          <div class="h5">
            <span
              >Current open positions for this symbol <span class="font-weight-bold">{{ activeSymbol }}</span> :
            </span>
            <span class="float-right mb-2">
              <button type="button" class="ml-2 btn btn-success" (click)="closePositions()">
                Click here to close any positions
              </button>
            </span>
          </div>
          <table class="table table-striped table-bordered">
            <thead>
              <th scope="col">Buy Date</th>
              <th scope="col">Buy Price</th>
              <th scope="col">Qty</th>
              <th scope="col">Gain/Loss</th>
              <th scope="col"># of days</th>
            </thead>
            <tbody>
              <tr *ngFor="let currOpenTxnList of adviceData.list">
                <td>{{ currOpenTxnList.buy_date | date }}</td>
                <td>{{ currOpenTxnList.buy_price | currency }}</td>
                <td>{{ currOpenTxnList.buy_qty | number: '1.0-0' }}</td>
                <td>{{ currOpenTxnList.roi / 100 | percent: '1.2-2' }}</td>
                <td>{{ currOpenTxnList.hold_days | number: '1.0-0' }}</td>
              </tr>
            </tbody>
          </table>
          <table class="table table-dark table-bordered">
            <tbody>
              <tr>
                <td>Total Gain</td>
                <td>
                  {{ adviceData.totalGain | currency }} ({{ adviceData.totalGainPercent | percent: '1.0-2' }})
                  &nbsp;&nbsp;
                  <a href="javascript:void(0);" (click)="updatePrices()">
                    <i class="fa fa-sync" aria-hidden="true"></i>
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <!-- Add a new position-->
        <div>
          <form class="form-row" [formGroup]="newPositionForm" (ngSubmit)="addOpenPositions()">
            <div class="col">
              <input
                type="number"
                min="0.01"
                step="0.01"
                class="form-control"
                id="newBuyPrice"
                formControlName="newBuyPrice"
                aria-describedby="emailHelp"
                placeholder="Enter Buy Price"
              />
            </div>
            <div class="col">
              <input
                type="number"
                class="form-control"
                id="newBuyQty"
                formControlName="newBuyQty"
                aria-describedby="emailHelp"
                placeholder="Enter Quantity bought"
              />
            </div>
            <div class="col">
              <input
                type="date"
                class="form-control"
                id="newBuyDate"
                formControlName="newBuyDate"
                aria-describedby="emailHelp"
                placeholder="Enter date of purchase"
              />
            </div>
            <div class="col">
              <button type="submit" class="btn btn-primary mb-2">Add new position</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="mb-4" *ngIf="displayBuyInsights">
    <div *ngIf="buyAdviceData$ | async as adviceData">
      <div class="row">
        <div class="col-10" style="padding-right: 3px">
          <div class="card border-0 shadow-lg h-100 p-4">
            <div>
              <div class="h4 mb-2 border-bottom">
                <span>Buy insights from your profile and current Stock state</span>
                <span *ngIf="trendingDetails$ | async as trendingDetails" style="float: right; font-size: 16px">
                  <span style="font-weight: 400">Overall Trend:</span>
                  <span *ngIf="trendingDetails.trend" style="font-weight: 700">
                    {{ trendingDetails.trendStrength }}
                    <span *ngIf="trendingDetails.trend == 1">
                      <span class="font-weight-bold">Uptrend</span>
                      <img src="assets/bullish-trend-icon.png" style="height: 30px; width: 30px" alt="Bullish" />
                    </span>
                    <span *ngIf="trendingDetails.trend == -1">
                      <span class="font-weight-bold">Downtrend</span>
                      <img src="assets/bearish-trend-icon.png" style="height: 30px; width: 30px" alt="Bearish" />
                    </span>
                    <span *ngIf="trendingDetails.trend == 0">
                      <span class="font-weight-bold">Sideways</span>
                      <img src="assets/neutral-trend-icon.png" style="height: 30px; width: 30px" alt="Neutral" />
                    </span>
                  </span>
                </span>
              </div>
              <div>
                <div>
                  <div class="row">
                    <div class="col-6 text-center insights-header">
                      <div class="insights-header-label">In your favor</div>
                    </div>
                    <div class="col-6 text-center pl-1 insights-header">
                      <div class="insights-header-label">Not-in your favor</div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-6">
                      <div *ngIf="adviceData.positiveSentimentList && adviceData.positiveSentimentList.length > 0">
                        <div *ngFor="let adviceElement of adviceData.positiveSentimentList">
                          <div class="mt-2 mb-2" *ngIf="(!showMoreAdvice && adviceElement.display) || showMoreAdvice">
                            <i class="fa fa-check" aria-hidden="true"></i>
                            <span class="ml-2" style="font-size: 18px" [innerHTML]="adviceElement.stmt"></span>
                            <div
                              style="margin-top: 5px"
                              *ngIf="adviceElement.type === 'TECHNICAL_INDICATORS' && adviceElement.list.length > 0"
                            >
                              <ul style="margin-bottom: 0" *ngFor="let tElement of adviceElement.list">
                                <li>{{ tElement }}</li>
                              </ul>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-6">
                      <div *ngIf="adviceData.negativeSentimentList && adviceData.negativeSentimentList.length > 0">
                        <div *ngFor="let adviceElement of adviceData.negativeSentimentList">
                          <div class="mt-2 mb-2" *ngIf="(!showMoreAdvice && adviceElement.display) || showMoreAdvice">
                            <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                            <span class="ml-2" style="font-size: 18px" [innerHTML]="adviceElement.stmt"></span>
                            <div
                              style="margin-top: 5px"
                              *ngIf="adviceElement.type === 'TECHNICAL_INDICATORS' && adviceElement.list.length > 0"
                            >
                              <ul style="margin-bottom: 0" *ngFor="let tElement of adviceElement.list">
                                <li>{{ tElement }}</li>
                              </ul>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <a href="javascript:void(0);" (click)="toggleShowMoreAdvice()">
                <span *ngIf="!showMoreAdvice">... show more</span>
                <span *ngIf="showMoreAdvice">... show less</span>
              </a>
              <div class="mt-5">
                <small>
                  <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
                  Expected return and days are calculated based on your past transaction history and current market
                  conditions.
                </small>
                <br />
                <small>
                  <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
                  Use of above analysis and any data on this platform for Education and research only.
                </small>
                <br />
                <small>
                  <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
                  <a href="https://static.liste.ai/terms.html" target="_blank">Terms & conditions </a> apply
                </small>
              </div>
            </div>
          </div>
        </div>
        <div class="col-2">
          <div class="card border-0 shadow-lg h-100 p-4">
            <div *ngIf="adviceData.predictionRec">
              <div class="mb-2 border-bottom">
                <span style="font-size: 24px; font-weight: 500" class="mb-2 border-bottom">Expected return</span>
              </div>
              <div>
                <div class="roi-value">{{ adviceData.predictionRec.gain | number: '1.0-2' }}%</div>
                <div style="text-align: center; margin-top: 20px">
                  in <span style="font-size: 30px; font-weight: 500"> {{ adviceData.predictionRec.days }} days</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="mb-4" *ngIf="!displayBuyInsights">
    <div *ngIf="sellAdviceData$ | async as adviceData">
      <div class="row">
        <div class="col-12" style="padding-right: 3px">
          <div class="card border-0 shadow-lg h-100 p-4">
            <div>
              <div class="h4 mb-2 border-bottom">
                <span>Sell insights from your profile and current Stock state</span>
                <span *ngIf="trendingDetails$ | async as trendingDetails" style="float: right; font-size: 16px">
                  <span style="font-weight: 400">Overall Trend:</span>
                  <span *ngIf="trendingDetails.trend" style="font-weight: 700">
                    {{ trendingDetails.trendStrength }}
                    <span *ngIf="trendingDetails.trend == 1">
                      <span class="font-weight-bold">Uptrend</span>
                      <img src="assets/bullish-trend-icon.png" style="height: 30px; width: 30px" alt="Bullish" />
                    </span>
                    <span *ngIf="trendingDetails.trend == -1">
                      <span class="font-weight-bold">Downtrend</span>
                      <img src="assets/bearish-trend-icon.png" style="height: 30px; width: 30px" alt="Bearish" />
                    </span>
                    <span *ngIf="trendingDetails.trend == 0">
                      <span class="font-weight-bold">Sideways</span>
                      <img src="assets/neutral-trend-icon.png" style="height: 30px; width: 30px" alt="Neutral" />
                    </span>
                  </span>
                </span>
              </div>
              <div>
                <div>
                  <div class="row">
                    <div class="col-6 text-center insights-header">
                      <div class="insights-header-label">In your favor</div>
                    </div>
                    <div class="col-6 text-center pl-1 insights-header">
                      <div class="insights-header-label">Not-in your favor</div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-6">
                      <div
                        *ngIf="
                          adviceData.currentPosition.positiveSentimentList &&
                          adviceData.currentPosition.positiveSentimentList.length > 0
                        "
                      >
                        <div *ngFor="let adviceElement of adviceData.currentPosition.positiveSentimentList">
                          <div class="mt-2 mb-2" *ngIf="(!showMoreAdvice && adviceElement.display) || showMoreAdvice">
                            <i class="fa fa-check" aria-hidden="true"></i>
                            <span class="ml-2" style="font-size: 18px" [innerHTML]="adviceElement.stmt"></span>
                            <div
                              style="margin-top: 5px"
                              *ngIf="adviceElement.type === 'TECHNICAL_INDICATORS' && adviceElement.list.length > 0"
                            >
                              <ul style="margin-bottom: 0" *ngFor="let tElement of adviceElement.list">
                                <li>{{ tElement }}</li>
                              </ul>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-6">
                      <div
                        *ngIf="
                          adviceData.currentPosition.negativeSentimentList &&
                          adviceData.currentPosition.negativeSentimentList.length > 0
                        "
                      >
                        <div *ngFor="let adviceElement of adviceData.currentPosition.negativeSentimentList">
                          <div class="mt-2 mb-2" *ngIf="(!showMoreAdvice && adviceElement.display) || showMoreAdvice">
                            <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                            <span class="ml-2" style="font-size: 18px" [innerHTML]="adviceElement.stmt"></span>
                            <div
                              style="margin-top: 5px"
                              *ngIf="adviceElement.type === 'TECHNICAL_INDICATORS' && adviceElement.list.length > 0"
                            >
                              <ul style="margin-bottom: 0" *ngFor="let tElement of adviceElement.list">
                                <li>{{ tElement }}</li>
                              </ul>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <a href="javascript:void(0);" (click)="toggleShowMoreAdvice()">
                <span *ngIf="!showMoreAdvice">... show more</span>
                <span *ngIf="showMoreAdvice">... show less</span>
              </a>
              <div class="mt-5">
                <small>
                  <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
                  Expected return and days are calculated based on your past transaction history and current market
                  conditions.
                </small>
                <br />
                <small>
                  <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
                  Use of above analysis and any data on this platform for Education and research only.
                </small>
                <br />
                <small>
                  <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
                  <a href="https://static.liste.ai/terms.html" target="_blank">Terms & conditions </a> apply
                </small>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="mb-4" *ngIf="displayProsAndCons">
    <div class="row">
      <div class="col-6" *ngIf="symbolEvaluation$ | async as symbolEvaluation">
        <div class="card border-0 shadow-lg h-100 p-4">
          <div class="h4 mb-2 border-bottom">{{ activeSymbol }}'s Pros</div>
          <div class="mb-3">
            <ul>
              <li *ngFor="let evaluation of filterEvaluation('pros', symbolEvaluation)">
                {{ evaluation.msg }}
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-6" *ngIf="symbolEvaluation$ | async as symbolEvaluation">
        <div class="card border-0 shadow-lg h-100 p-4">
          <div class="h4 mb-2 border-bottom">{{ activeSymbol }}'s Cons</div>
          <div class="mb-3">
            <ul>
              <li *ngFor="let evaluation of filterEvaluation('cons', symbolEvaluation)">
                {{ evaluation.msg }}
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="mb-4 row">
    <div class="col-12" *ngIf="earningsList$ | async as earningsList">
      <div class="card border-0 shadow-lg h-100 p-4">
        <div class="h4 mb-2 border-bottom">{{ activeSymbol }}'s Earnings List</div>
        <ul *ngIf="earningsList.comments">
          <li *ngFor="let earningStr of earningsList.comments.split('|')" [innerHTML]="earningStr"></li>
        </ul>
        <table class="table table-bordered">
          <tr>
            <td *ngFor="let list of earningsList.list">
              <div class="row">
                <div class="col-md-12 text-center font-weight-bold">{{ list.date | date }}</div>
              </div>
              <div class="row" [ngStyle]="list.eps_actual < 0 ? { 'background-color': '#E97451' } : ''">
                <div class="col-md-6">Earnings</div>
                <div class="col-md-6 text-center">
                  <span *ngIf="list.eps_actual > 0"><i class="fas fa-arrow-up"></i></span>
                  <span *ngIf="list.eps_actual < 0"><i class="fas fa-arrow-down"></i></span>
                  {{ list.eps_actual | currency }}
                </div>
              </div>
              <div class="row" [ngStyle]="list.eps_actual < 0 ? { 'background-color': '#E97451' } : ''">
                <div class="col-md-6">Surprise</div>
                <div class="col-md-6 text-center">
                  <span *ngIf="list.surprise_prc > 0"><i class="fas fa-arrow-up"></i></span>
                  <span *ngIf="list.surprise_prc < 0"><i class="fas fa-arrow-down"></i></span>
                  {{ list.surprise_prc }}%
                </div>
              </div>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>

  <div class="mb-4" *ngIf="eventPerformanceData$ | async as eventPerformanceData">
    <div class="card border-0 shadow-lg h-150 p-4">
      <div class="row pb-2 mb-3 border-bottom">
        <div class="col-12 col-md-6 col-lg-6">
          <div>
            <span class="h4">{{ activeSymbol }}'s reaction to Events </span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3 p-3" *ngFor="let eventData of eventPerformanceData">
          <div *ngIf="eventData.list && eventData.list.length > 0">
            <h5 class="text-center">{{ eventData.eventName }}</h5>
            <p class="p-2" style="font-size: 14px">{{ eventData.desc }}</p>
            <ngx-charts-bar-vertical
              [view]="[300, 200]"
              [results]="eventChartData[eventData.key]"
              [xAxis]="true"
              [yAxis]="true"
              gradient="true"
              [noBarWhenZero]="false"
              [showXAxisLabel]="true"
              [showYAxisLabel]="true"
            >
            </ngx-charts-bar-vertical>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="mb-4" *ngIf="symbolIndustryDetailsResp$ | async as symbolIndustryDetailsResp">
    <div class="card border-0 shadow-lg h-100 p-4">
      <div class="row pb-2 mb-3 border-bottom">
        <div class="col-12 col-md-6 col-lg-6">
          <div>
            <span class="h4">{{ activeSymbol }}'s Industry </span> -
            <a href="/subSectorDetails/{{ symbolIndustryDetailsResp.industryId }}">{{
              symbolIndustryDetailsResp.industry
            }}</a>
          </div>
          <div class="font-weight-bold small text-success">
            Rank : {{ symbolIndustryDetailsResp.industryRank }} / 144
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-6 text-md-right text-left">
          <div *ngIf="symbolIndustryDetailsResp.change">
            <div class="mb-2">
              Today's gain :
              <span class="font-weight-bold">{{ symbolIndustryDetailsResp.change / 100 | percent: '1.0-2' }}</span>
              <!-- <span class="font-weight-bold">{{ symbolIndustryDetailsResp.change / 100 | percent: '1.0-2' }}</span> -->
            </div>
          </div>
        </div>
        <div class="col-12 text-md-right text-left">
          <span *ngFor="let industryBadge of symbolIndustryDetailsResp.industryBadgeList">
            <span class="badge badge-pill my-1 badge-info info-badge pill-wrap font-weight-normal px-3">{{
              industryBadge
            }}</span>
          </span>
        </div>
      </div>
      <div class="row w-100">
        <div style="height: 200px" class="w-100">
          <ngx-charts-bar-horizontal-stacked
            *ngIf="chartData.value.length"
            [scheme]="chartData.colorScheme"
            [results]="chartData.value"
            [xAxis]="chartData.showXAxis"
            [yAxis]="chartData.showYAxis"
            [showXAxisLabel]="chartData.showXAxisLabel"
            [showYAxisLabel]="chartData.showYAxisLabel"
          >
          </ngx-charts-bar-horizontal-stacked>
        </div>
      </div>
    </div>
  </div>

  <div class="tab-content">
    <div class="tab-pane fade show active" id="nav-analysis" role="tabpanel" aria-labelledby="nav-analysis-tab">
      <div class="row">
        <div class="col-md-6 col-lg-4 col-sm-12 mb-4" *ngIf="analystReccomendationResp$ | async as anaReccoResp">
          <div class="card border-0 shadow-lg h-100 p-4">
            <div class="card-body">
              <div class="card-title mb-4">
                <h4>Analyst Analysis</h4>
              </div>
              <div>
                <div *ngIf="anaReccoResp.length > 0; else noDataDiv" class="row">
                  <div class="col-12 d-flex justify-content-center p-0">
                    <ngx-charts-pie-chart
                      [view]="view"
                      [scheme]="colorScheme"
                      [results]="anaReccoResp"
                      [gradient]="pieGradient"
                      [legend]="pieShowLegend"
                      [legendPosition]="legendPosition"
                      [labels]="pieShowLabels"
                      [doughnut]="isDoughnut"
                      (select)="onSelect($event)"
                      (activate)="onActivate($event)"
                      (deactivate)="onDeactivate($event)"
                    >
                    </ngx-charts-pie-chart>
                  </div>
                  <div class="col-12">
                    <div class="row">
                      <div class="col-6 p-0">
                        <div
                          class="bg-light m-1 p-2 border-0 list-group-item d-flex justify-content-between align-items-center"
                        >
                          Buy
                          <span class="badge badge-primary badge-pill">{{ getAnalystReccomendationValue('Buy') }}</span>
                        </div>
                      </div>
                      <div class="col-6 p-0">
                        <div
                          class="bg-light m-1 p-2 border-0 list-group-item d-flex justify-content-between align-items-center"
                        >
                          Overweight
                          <span class="badge badge-primary badge-pill">{{
                            getAnalystReccomendationValue('Overweight')
                          }}</span>
                        </div>
                      </div>
                      <div class="col-6 p-0">
                        <div
                          class="bg-light m-1 p-2 border-0 list-group-item d-flex justify-content-between align-items-center"
                        >
                          Hold
                          <span class="badge badge-primary badge-pill">{{
                            getAnalystReccomendationValue('Hold')
                          }}</span>
                        </div>
                      </div>
                      <div class="col-6 p-0">
                        <div
                          class="bg-light m-1 p-2 border-0 list-group-item d-flex justify-content-between align-items-center"
                        >
                          Underweight
                          <span class="badge badge-primary badge-pill">{{
                            getAnalystReccomendationValue('Underweight')
                          }}</span>
                        </div>
                      </div>
                      <div class="col-6 p-0">
                        <div
                          class="bg-light m-1 p-2 border-0 list-group-item d-flex justify-content-between align-items-center"
                        >
                          Sell
                          <span class="badge badge-primary badge-pill">{{
                            getAnalystReccomendationValue('Sell')
                          }}</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 col-sm-12 mb-4" *ngIf="sentimentResp$ | async as sentimentResp">
          <div class="card border-0 shadow-lg h-100 p-4">
            <div class="card-body">
              <div class="card-title mb-4">
                <h4>Social Sentiment</h4>
              </div>
              <div>
                <div *ngIf="sentimentResp.value; else noDataDiv" class="row">
                  <div class="col-12 d-flex justify-content-center">
                    <rg-gauge-chart
                      [canvasWidth]="canvasWidth"
                      [needleValue]="sentimentResp.value"
                      [centralLabel]="centralLabel"
                      [options]="options"
                    ></rg-gauge-chart>
                  </div>
                  <div class="gauge-chart-label w-100 text-center font-weight-bold">
                    Sentiment value - {{ sentimentResp.value }}
                  </div>
                  <div class="col-12 mt-3">
                    <div class="row">
                      <div class="col-12 p-0">
                        <div
                          class="bg-light m-1 p-2 border-0 list-group-item d-flex justify-content-between align-items-center"
                        >
                          <span>% of Bulls</span>
                          <span class="badge badge-primary badge-pill">{{ sentimentResp.positive | percent }}</span>
                        </div>
                      </div>
                      <div class="col-12 p-0">
                        <div
                          class="bg-light m-1 p-2 border-0 list-group-item d-flex justify-content-between align-items-center"
                        >
                          <span>% of Bears</span>
                          <span class="badge badge-primary badge-pill">{{ sentimentResp.negative | percent }}</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-12 col-lg-4 col-sm-12 mb-4">
          <div class="card border-0 shadow-lg h-100">
            <div class="tradingview-widget-container mx-auto" id="symbolTechnicalsWidget">
              <div class="tradingview-widget-container__widget"></div>
            </div>
          </div>
        </div>
        <ng-template #noModelDiv>
          <div class="ml-2 div-noModel">
            <p class="p-noModel">
              Want to know if this stock suit your investment style ? You are 1-step away from it.
            </p>
            <p class="p-noModel">Click the below button to upload your old transactions from any brokerages.</p>
            <a class="btn btn-warning d-block" href="/uploadPortfolio" role="button"> Upload Transactions </a>
          </div>
        </ng-template>
        <ng-template #noDataDiv>
          <div class="ml-2 div-noData">
            <p class="p-noModel">No data available for {{ activeSymbol }}</p>
          </div>
        </ng-template>
      </div>
    </div>
    <div class="tab-pane fade" id="nav-features" role="tabpanel" aria-labelledby="nav-features-tab">
      <div class="mt-5">
        <hr />
        <div class="mb-2">
          <label class="h5">Technical / Fundamental Features for this Symbol</label>
        </div>
        <div class="card-group" *ngIf="symbolDetailsResp$ | async as symbolDetailsResp">
          <div class="card" style="max-width: 20%">
            <div class="card-body">
              <h6 class="p-2 mb-3 card-title text-center">Price/Volume</h6>
              <ng-container *ngFor="let tag of getArray(symbolDetailsResp.tags)">
                <div class="card-text m-2 text-center" *ngIf="isExistsInPriceVol(tag)">
                  <a role="button" (click)="gotoTagLink(tag)" [ngClass]="getClassForPills(tag)">
                    {{ getTagDisplayText(tag) }}
                  </a>
                </div>
              </ng-container>
            </div>
          </div>
          <div class="card" style="max-width: 20%">
            <div class="card-body">
              <h6 class="card-title mb-3 text-center p-2">Classification</h6>
              <ng-container *ngFor="let tag of getArray(symbolDetailsResp.tags)">
                <div class="card-text m-2 text-center" *ngIf="isExistsInClassification(tag)">
                  <a role="button" (click)="gotoTagLink(tag)" [ngClass]="getClassForPills(tag)">
                    {{ getTagDisplayText(tag) }}
                  </a>
                </div>
              </ng-container>
            </div>
          </div>
          <div class="card" style="max-width: 80%">
            <div class="card-body mb-5">
              <h6 class="m-2 card-title text-center">Technical</h6>
              <ng-container *ngFor="let tag of getArray(symbolDetailsResp.tags)">
                <span class="card-text m-2 text-center" *ngIf="isExistsInTechnical(tag)">
                  <a role="button" (click)="gotoTagLink(tag)" [ngClass]="getClassForPills(tag)">
                    {{ getTagDisplayText(tag) }}
                  </a>
                </span>
              </ng-container>
            </div>
          </div>
        </div>
        <div>
          <small class="text-muted">** Highlighted features where user showed substantial gains in the past </small>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-12 col-lg-12 p-0">
    <div class="shadow-lg" id="tradingview_73abe"></div>
  </div>
</div>

<ng-template #mymodal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Comments for {{ activeSymbol }}</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <div class="modal-body">
    <textarea
      class="form-control"
      rows="5"
      [(ngModel)]="userNotes"
      type="text"
      placeholder="Add notes here ..."
    ></textarea>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Update</button>
  </div>
</ng-template>
