<div class="container">
  <div class="p-3 mb-2 bg-warning text-dark text-center" *ngIf="!userProfile">
    We donot have a model built for you yet, so you cannot find any stocks matching your trading style (with a Matching
    score)
  </div>
  <div *ngIf="subSectorDetailsArr$ | async as ssDetails">
    <div class="card mb-5">
      <div class="card-body">
        <div class="row">
          <div class="col-9">
            <div><span class="font-weight-bold">Industry :</span> {{ ssDetails.title }}</div>
            <div class="mt-2 mb-2">
              List of stocks in the sub-sector / industry. Ordered by price trend (Uptrend, Neutral and Downtrend) and
              price value.
            </div>
            <br />
            <div>
              <span class="font-weight-bold">
                Short term - Long term industry performance :
                {{ ssDetails.change }}
              </span>
              (today's change)
            </div>
            <div class="row mt-3">
              <div class="col-2">
                <div>
                  1-Week
                  <div class="font-weight-bold">{{ ssDetails.perf_week }}</div>
                </div>
              </div>
              <div class="col-2">
                <div>
                  1-Month
                  <div class="font-weight-bold">{{ ssDetails.perf_month }}</div>
                </div>
              </div>
              <div class="col-2">
                <div>
                  1-Quater
                  <div class="font-weight-bold">{{ ssDetails.perf_quart }}</div>
                </div>
              </div>
              <div class="col-2">
                <div>
                  6-Months
                  <div class="font-weight-bold">{{ ssDetails.perf_half }}</div>
                </div>
              </div>
              <div class="col-2">
                <div>
                  1-year
                  <div class="font-weight-bold">{{ ssDetails.perf_year }}</div>
                </div>
              </div>
              <div class="col-2">
                <div>
                  YTD
                  <div class="font-weight-bold">{{ ssDetails.perf_ytd }}</div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-3">
            <div class="ver-line pl-4 pr-2 mb-5">
              <ul class="pl-0 mb-5">
                <li class="ml-3 mb-3">
                  <span class="step-text">List of stocks in the Sub-Sector</span>
                </li>
                <li class="ml-3 mb-3">
                  <span class="step-text">Sorted by Direction and Price</span>
                </li>
                <li class="ml-3 mb-3">
                  <span class="step-text">Click on the symbol to see more details</span>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <table class="mt-20 table table-striped table-hover table-bordered">
      <thead>
        <tr>
          <th scope="col">Company Name</th>
          <th scope="col">Symbol</th>
          <th scope="col">Price</th>
          <th scope="col">Trend</th>
          <th scope="col">Volume</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let listRow of ssDetails.list" class="table-row" (click)="getSymbolDetails(listRow)">
          <td>{{ listRow.companyName }}</td>
          <td>
            <a routerLink="/symbolDetails/{{ listRow.symbol }}">{{ listRow.symbol }}</a>
          </td>
          <td>{{ listRow.close | currency }}</td>
          <td>
            <div *ngIf="listRow.direction === 1">
              <i class="fas fa-arrow-up"></i>
              Uptrend
            </div>
            <div *ngIf="listRow.direction === 0">
              <i class="fas fa-arrow-right"></i>
              Neutral
            </div>
            <div *ngIf="listRow.direction === -1">
              <i class="fas fa-arrow-down"></i>
              Downtrend
            </div>
          </td>
          <td>{{ listRow.volume | number }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
