<div class="container-fluid">
  <div *ngIf="subSectorDetailsArr$ | async as ssDetails">
    <div class="table-container card mb-5">
      <div class="card-body" style="min-width: 900px">
        <div class="row">
          <div class="col-9">
            <div><span class="font-weight-bold">Industry :</span> {{ ssDetails.title }}</div>
            <div class="mt-2 mb-2 note">
              List of stocks in the sub-sector / industry. Ordered by price trend (Uptrend, Neutral and Downtrend) and
              price value.
            </div>
            <br />
            <div>
              <span class="font-weight-bold">
                Short term - Long term industry performance :
                {{ ssDetails.change }}
              </span>
              (today's change)
            </div>
            <div class="row mt-3">
              <div class="col-2">
                <div>
                  1-Week
                  <div class="font-weight-bold">{{ ssDetails.perf_week }}%</div>
                </div>
              </div>
              <div class="col-2">
                <div>
                  1-Month
                  <div class="font-weight-bold">{{ ssDetails.perf_month }}%</div>
                </div>
              </div>
              <div class="col-2">
                <div>
                  1-Quater
                  <div class="font-weight-bold">{{ ssDetails.perf_quart }}%</div>
                </div>
              </div>
              <div class="col-2">
                <div>
                  6-Months
                  <div class="font-weight-bold">{{ ssDetails.perf_half }}%</div>
                </div>
              </div>
              <div class="col-2">
                <div>
                  1-year
                  <div class="font-weight-bold">{{ ssDetails.perf_year }}%</div>
                </div>
              </div>
              <div class="col-2">
                <div>
                  YTD
                  <div class="font-weight-bold">{{ ssDetails.perf_ytd }}%</div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-3">
            <div class="ver-line pl-4 pr-2 mb-5">
              <ul class="pl-0 mb-5">
                <li class="ml-3 mb-3">
                  <span class="step-text">List of stocks in the Sub-Sector</span>
                </li>
                <li class="ml-3 mb-3">
                  <span class="step-text">Sorted by Direction and Price</span>
                </li>
                <li class="ml-3 mb-3">
                  <span class="step-text">Click on the symbol to see more details</span>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="w-100" *ngIf="ssDetails.list">
      <div class="align-items-end offset-md-8 col-md-4 col-12 d-flex justify-content-end">
        <app-table-filter
          class="w-100"
          [data]="ssDetails.list"
          (tableData)="tableValue($event)"
          [searchFields]="[
            'symbol',
            'companyName',
            'trend',
            'close',
            'volume',
            'dividendYield',
            'peRatio',
            'marketcap'
          ]"
        ></app-table-filter>
      </div>
    </div>
    <div class="table-container border">
      <table class="mt-20 table table-striped table-hover" *ngIf="tableData">
        <thead>
          <tr>
            <th width="380" class="text-center" scope="col" sortable="symbol" (sort)="onSort($event)">Company</th>
            <!-- <th class="text-center" scope="col" sortable="symbol" (sort)="onSort($event)">Company</th> -->
            <th class="text-center" scope="col" sortable="trend" (sort)="onSort($event)">Trend</th>
            <!-- <th class="text-center" scope="col" sortable="close" (sort)="onSort($event)">Price</th> -->
            <!-- <th class="text-center" scope="col" sortable="volume" (sort)="onSort($event)">Volume</th> -->
            <th class="text-center" scope="col" sortable="dividendYield" (sort)="onSort($event)">
              Dividend
              <a href="https://www.investopedia.com/terms/d/dividendyield.asp" target="_blank">
                <i class="fa fa-info-circle" title="Current Dividend Yield of the stock" aria-hidden="true"></i>
              </a>
            </th>
            <th class="text-center" scope="col" sortable="peRatio" (sort)="onSort($event)">
              P/E
              <a href="https://www.investopedia.com/terms/p/price-earningsratio.asp" target="_blank">
                <i class="fa fa-info-circle" title="Current P/E ratio of the stock" aria-hidden="true"></i>
              </a>
            </th>
            <th class="text-center" scope="col" sortable="marketcap" (sort)="onSort($event)">Market Cap</th>
            <th class="text-center" scope="col" sortable="industry" (sort)="onSort($event)">
              Industry
              <a href="https://www.investopedia.com/terms/i/industry.asp" target="_blank">
                <i class="fa fa-info-circle" title="Industry of a stock" aria-hidden="true"></i>
              </a>
            </th>
            <th class="text-center" scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let listRow of tableData" class="table-row">
            <td><app-single-quote-widget [symbol]="listRow.symbol"></app-single-quote-widget></td>
            <!-- <td class="text-left company-name">
              <a class="symbol" href="/symbolDetails/{{ listRow.symbol }}">{{ listRow.symbol }}</a>
              <br />
              {{ listRow.companyName | truncate: 40 | uppercase }}
            </td> -->
            <td class="text-left">
              <div *ngIf="listRow.trend == 1">
                <i class="fas fa-arrow-up"></i>
                Uptrend
              </div>
              <div *ngIf="listRow.trend == 0">
                <i class="fas fa-arrow-right"></i>
                Neutral
              </div>
              <div *ngIf="listRow.trend == -1">
                <i class="fas fa-arrow-down"></i>
                Downtrend
              </div>
              <app-view-trend-details [symbol]="listRow.symbol"></app-view-trend-details>
            </td>
            <!-- <td class="text-right price">
              {{ listRow.price | currency }}
            </td> -->
            <!-- <td class="text-right volume">
              {{ listRow.volume | number }}
            </td> -->
            <td class="text-right dividend">
              <span *ngIf="!listRow.dividendYield || listRow.dividendYield == '0'">-</span>
              <span *ngIf="listRow.dividendYield != '0'">{{ listRow.dividendYield | percent: '1.0-2' }}</span>
            </td>
            <td class="text-right pe-ratio">
              {{ listRow.peRatio | number: '1.0-2' }}
            </td>
            <td class="text-right">
              {{ getPrunedValue(listRow.marketcap) }}
            </td>
            <td class="text-left" style="word-wrap: break-word; min-width: 160px; max-width: 160px; font-size: 14px">
              <div *ngIf="listRow.industry">
                <a *ngIf="listRow.industryId" class="industry" href="/subSectorDetails/{{ listRow.industryId }}">
                  {{ listRow.industry }}
                </a>
                <div *ngIf="!listRow.industryId" class="industry">
                  {{ listRow.industry }}
                </div>
                <div *ngFor="let industryBadge of listRow.industryBadgeList">
                  <span class="badge badge-pill badge-info info-badge pill-wrap">{{ industryBadge }}</span>
                </div>
              </div>
              <div *ngIf="!listRow.industry">N/A</div>
            </td>
            <td class="text-left note">
              <div class="action-btn-group" *ngIf="isFavorite(listRow.symbol)">
                <a href="javascript:void(0);" (click)="removeFromFavorites(listRow.symbol)" class="btn-pading text-btn">
                  Delete from Favorites
                </a>
              </div>
              <div class="action-btn-group" *ngIf="!isFavorite(listRow.symbol)">
                <a href="javascript:void(0);" (click)="addToFavorites(listRow.symbol)" class="btn-pading text-btn">
                  Add to Favorites
                </a>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div *ngIf="!hideViewMoreBtn && subSectorDetailsArr$ | async as ssDetails" class="view-more-div text-right p-2">
    <button type="button" (click)="viewMoreFn()" class="btn btn-orange">View More</button>
  </div>
</div>
