<div class="login-container">
  <div class="login-box">
    <h1>Liste.AI</h1>
    <div>
      <div class="d-inline-block ml-3">
        
      </div>
    </div>
    <div class="container">
      <div class="card col-md-6 mt-3 mx-auto">
        <div class="card-body">
          <h4 class="card-title text-center">
            <i class="far fa-3x fa-user-circle text-muted"></i>
          </h4>

          <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" id="login-tab" data-toggle="tab" href="#login" (click)="setActiveTab('login')" role="tab" aria-controls="login" aria-selected="true">Login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="createAccount-tab" data-toggle="tab" href="#createAccount" (click)="setActiveTab('createAccount')" role="tab" aria-controls="createAccount" aria-selected="true">Create Account</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="forgotPassword-tab" data-toggle="tab" href="#forgotPassword" (click)="setActiveTab('forgotPassword')" role="tab" aria-controls="forgotPassword" aria-selected="true">Forgot Password</a>
            </li>
          </ul>
          <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="login" role="tabpanel" aria-labelledby="login-tab">
              <form (ngSubmit)="login()" [formGroup]="accountForm" novalidate> 
                <div class="alert alert-danger" [hidden]="!loginError || isLoading" translate>
                  {{loginError}}
                </div>
                <div class="form-group">
                  <label class="d-block">
                    <input
                      type="text"
                      class="form-control"
                      formControlName="email"
                      autocomplete="email"
                      [placeholder]="'Email' | translate"
                    />
                    <span hidden translate>Email</span>
                    <small
                      [hidden]="accountForm.controls.email.valid || accountForm.controls.email.untouched"
                      class="text-danger"
                      translate
                    >
                    Email is required
                    </small>
                  </label>
                  <label class="d-block">
                    <input
                      type="password"
                      class="form-control"
                      formControlName="password"
                      autocomplete="current-password"
                      [placeholder]="'Password' | translate"
                      required
                    />
                    <span hidden translate>Password</span>
                    <small
                      [hidden]="accountForm.controls.password.valid || accountForm.controls.password.untouched"
                      class="text-danger"
                      translate
                    >
                      Password is required
                    </small>
                  </label>
                  <div class="form-check">
                    <label class="form-check-label">
                      <input type="checkbox" class="form-check-input" formControlName="remember" />
                      <span translate>Remember me</span>
                    </label>
                  </div>
                </div>
                <button class="btn btn-primary w-100" type="submit" [disabled]="accountForm.invalid || isLoading">
                  <i class="fas fa-cog fa-spin" [hidden]="!isLoading"></i>
                  <span translate>Login</span>
                </button>
                <a class="btn btn-primary w-100 mt-3" href="http://localhost:8080/auth/twitter">
                  <i class="fas fa-cog fa-spin" [hidden]="!isLoading"></i>
                  <span translate>Use Twitter</span>
                  <i class="fab fa-twitter"></i>
                </a>
                <a class="btn btn-primary w-100 mt-3" href="http://localhost:8080/auth/google">
                  <i class="fas fa-cog fa-spin" [hidden]="!isLoading"></i>
                  <span translate>Use Google</span>
                  <i class="fab fa-google"></i>
                </a>
              </form>
            </div>
            <div class="tab-pane fade" id="createAccount" role="tabpanel" aria-labelledby="createAccount-tab">
              <form (ngSubmit)="createAccount()" [formGroup]="accountForm" novalidate> 
                <div class="alert alert-danger" [hidden]="!createAccountError || isLoading" translate>
                  Something seems not correct, please check again !
                </div>
                <div class="form-group">
                  <label class="d-block">
                    <input
                      type="text"
                      class="form-control"
                      formControlName="displayName"
                      autocomplete="displayName"
                      [placeholder]="'DisplayName' | translate"
                    />
                    <span hidden translate>Display Name</span>
                    <small
                      [hidden]="accountForm.controls.displayName.valid || accountForm.controls.displayName.untouched"
                      class="text-danger"
                      translate
                    >
                    Display Name is required
                    </small>
                  </label>
                  <label class="d-block">
                    <input
                      type="text"
                      class="form-control"
                      formControlName="email"
                      autocomplete="email"
                      [placeholder]="'Email' | translate"
                    />
                    <span hidden translate>Email</span>
                    <small
                      [hidden]="accountForm.controls.email.valid || accountForm.controls.email.untouched"
                      class="text-danger"
                      translate
                    >
                    Email is required
                    </small>
                  </label>
                  <label class="d-block">
                    <input
                      type="text"
                      class="form-control"
                      formControlName="phone"
                      autocomplete="phone"
                      [placeholder]="'Phone' | translate"
                    />
                    <span hidden translate>Phone</span>
                  </label>
                  <label class="d-block">
                    <input
                      type="password"
                      class="form-control"
                      formControlName="password"
                      autocomplete="current-password"
                      [placeholder]="'Password' | translate"
                      required
                    />
                    <span hidden translate>Password</span>
                    <small
                      [hidden]="accountForm.controls.password.valid || accountForm.controls.password.untouched"
                      class="text-danger"
                      translate
                    >
                      Password is required
                    </small>
                  </label>
                </div>
                <button class="btn btn-primary w-100" type="submit" [disabled]="accountForm.invalid || isLoading">
                  <i class="fas fa-cog fa-spin" [hidden]="!isLoading"></i>
                  <span translate>Create Account</span>
                </button>
              </form>
            </div>
            <div class="tab-pane fade" id="forgotPassword" role="tabpanel" aria-labelledby="forgotPassword-tab">
              <form (ngSubmit)="forgotPassword()" [formGroup]="accountForm" novalidate> 
                <div class="alert alert-danger" [hidden]="!forgotError || isLoading" translate>
                  Email incorrect.
                </div>
                <div class="form-group">
                  <label class="d-block">
                    <input
                      type="text"
                      class="form-control"
                      formControlName="email"
                      autocomplete="email"
                      [placeholder]="'Email' | translate"
                    />
                    <span hidden translate>Email</span>
                    <small
                      [hidden]="accountForm.controls.email.valid || accountForm.controls.email.untouched"
                      class="text-danger"
                      translate
                    >
                    Email is required
                    </small>
                  </label>
                </div>
                <button class="btn btn-primary w-100" type="submit" [disabled]="accountForm.invalid || isLoading">
                  <i class="fas fa-cog fa-spin" [hidden]="!isLoading"></i>
                  <span translate>Forgot Password</span>
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
