@import "src/theme/_variables";

.auth-container {
  min-height: 100vh;
  background-color: #ebeef7;
  .card-container {
    min-height: calc(100vh - 46px);
    padding: 10px 0;
  }
  @include media-breakpoint-down(md) {
    .card-container {
      min-height: calc(100vh - 76px);
    }
  }
}

.logo {
  width: 180px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  height: 48px;
}

.sub-title {
  font-weight: 600;
}

.ng-invalid.ng-touched:not(form) {
  border-left: 4px solid theme-color("danger");
}

.auth-card {
  width: 450px;
  border-radius: 5px;
  background-color: $white;
}

@media (max-width: 450px) {
  .auth-card {
    width: 350px;
  }
}

.agree-tos {
  font-size: 12px;
  font-weight: 400;
  font-style: italic;
  text-align: center;
  padding: 5px 10px;
}

.recaptcha-text {
  font-size: 10px;
  font-weight: 400px;
  line-height: 15px;
  text-align: center;
}

.std-msg-text {
  font-size: 10px;
  font-weight: 400px;
  line-height: 15px;
  padding-left: 5px;
}

.recaptcha-div {
  text-align: center;
}
