<div class="container-fluid" *ngIf="topStocksList$ | async as topStocksList">
  <div class="w-100 row m-0">
    <div class="col-md-8 col-12 p-0 d-flex align-items-center"></div>
    <div class="align-items-center col-md-4 col-12 p-0 d-flex justify-content-end">
      <app-table-filter
        class="w-100"
        [data]="topStocksList"
        (tableData)="tableValue($event)"
        [searchFields]="['symbol', 'date', 'price', 'curr_price', 'roi']"
      ></app-table-filter>
    </div>
  </div>
  <div class="table-container border">
    <table class="mt-20 table table-striped table-hover table-bordered">
      <thead>
        <tr>
          <th style="width: 150px" scope="col" sortable="symbol" (sort)="onSort($event)">Symbol</th>
          <th style="width: 150px" scope="col" sortable="date" (sort)="onSort($event)">Highlighted Date</th>
          <th style="width: 150px" scope="col" sortable="price" (sort)="onSort($event)">Price (Buy Price)</th>
          <th style="width: 150px" scope="col" sortable="curr_price" (sort)="onSort($event)">Current Price</th>
          <th style="width: 100px" scope="col" sortable="roi" (sort)="onSort($event)">ROI</th>
          <th style="width: 400px" scope="col">Widget</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let row of tableData" class="table-row">
          <td>
            <a href="/symbolDetails/{{ row.symbol }}">{{ row.symbol }}</a>
          </td>
          <td>{{ row.date | date }}</td>
          <td>{{ row.price | currency }}</td>
          <td>{{ row.curr_price | currency }}</td>
          <td>{{ row.roi / 100 | percent: '1.0-2' }}</td>
          <td>
            <app-single-quote-widget [symbol]="row.symbol"></app-single-quote-widget>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
