@import "src/theme/_variables";

.easy-steps-text {
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  margin-block-end: 15px;
  color: #333;
}

.step-text {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  padding-left: 9px;
  text-align: left;
  color: #999;
}

.company-name {
  max-width: 160px;
  font-size: 12px;
  font-weight: 400;
}

.symbol {
  font-size: 14px;
  font-weight: 600;
  text-decoration-style: solid;
  text-decoration-color: #0a66cc;
  color: #0a66cc;
}

.text-btn {
  font-size: 15px;
  font-weight: 400;
}

.table td.fit,
.table th.fit {
  white-space: nowrap;
  width: 1%;
}

.tab-title {
  font-size: 15px;
  font-weight: 200;
}

.close-submit {
  padding: 3px;
}

.btn-open-actions {
  margin: 0 3px;
  padding: 3px;
  font-size: 10px;
}

.card-text {
  font-size: 14px;
  font-weight: 400;
}

.pill-wrap {
  white-space: normal;
}

.view-more-div {
  padding-left: 12px;
}
