<div>
  <div class="mt-4 mb-2" *ngIf="!unsubscribeSuccess">
    <div>
      <h4 class="mx-2 mb-5">Please don’t go! What can we do to get out of the Dog house?</h4>
    </div>
    <div class="row mt-3">
      <div class="col-6 col-md-9 col-lg-6">
        <div class="pl-3">
          <div>
            <div class="mb-4">
              <p class="font-weight-bold mb-2">Can you please give us the reason</p>
              <div *ngFor="let radiobutton of radioItems">
                <label>
                  <input
                    type="radio"
                    name="options"
                    (click)="model.option = radiobutton"
                    [checked]="radiobutton === model.option"
                  /><span class="pl-1">{{ radiobutton }}</span>
                </label>
              </div>
            </div>
            <p class="font-weight-bold mb-2">Any parting comments</p>
            <div class="mb-4">
              <textarea [(ngModel)]="feedback" rows="2" cols="40"> </textarea>
            </div>

            <button class="btn btn-orange mb-4" (click)="callUnsubscribe()">Unsubscribe</button>
            <p class="small">
              * Please note that unsubscribe request can take 1-2 days to process..<br />
              It’s not us we swear, it’s just how these unsubscribe list thingamajigs work.
            </p>
          </div>
        </div>
      </div>
      <div class="col-6 col-md-3 col-lg-6 d-sm-none d-xs-none d-md-block">
        <div class="d-flex justify-content-center">
          <img src="assets/dog.png" />
        </div>
      </div>
    </div>
  </div>
  <div class="align-items-center d-flex justify-content-center mb-2 mt-4 w-100 vh60" *ngIf="unsubscribeSuccess">
    <div class="text-center">
      <i class="fa fa-envelope fa-3x"></i>
      <h2>
        You’ve unsubscribed<br />
        You’ll no longer receive emails from Liste
      </h2>
      <a routerLink="/topPicks">Back to Home</a>
    </div>
  </div>
</div>
