@import "src/theme/_variables";

.btn-gray {
  @include button-variant(
    $gray-600,
    darken($gray-600, 7.5%),
    darken($gray-600, 10%),
    lighten($gray-600, 5%),
    lighten($gray-600, 10%),
    darken($gray-600, 30%)
  );
}

.btn-outline-gray {
  @include button-outline-variant($gray-600, #fff, lighten($gray-600, 5%), $gray-600);
}

.btn-orange {
  @include button-variant(
    $orange,
    darken($orange, 7.5%),
    darken($orange, 10%),
    lighten($orange, 5%),
    lighten($orange, 10%),
    darken($orange, 10%)
  );

  color: #fff;
}

.btn-outline-orange {
  @include button-outline-variant($orange, #fff, lighten($orange, 5%), $orange);
}

@include media-breakpoint-up(sm) {
  .xl-modal {
    .modal-dialog {
      max-width: 90%;
    }
  }
}

@include media-breakpoint-up(md) {
  .xl-modal {
    .modal-dialog {
      max-width: 70%;
    }
  }
}
@include media-breakpoint-up(lg) {
  .xl-modal {
    .modal-dialog {
      max-width: 80%;
    }
  }
}
@include media-breakpoint-up(xl) {
  .xl-modal {
    .modal-dialog {
      max-width: 80%;
    }
  }
}
