@import "src/theme/_variables";

/*
 * Global application theme.
 * Framework overrides and customization goes here.
 */

.container-fluid {
  padding-right: 5%;
  padding-left: 5%;
  @include media-breakpoint-down(lg) {
    padding-right: 15px;
    padding-left: 15px;
  }
}

.nav-link.dropdown-toggle {
  cursor: pointer;
}

.nav-tabs .nav-link {
  border-width: 0 0 4px 0;
  border-bottom-color: transparent;
  &.active {
    color: $primary;
    border-bottom-color: $primary;
  }

  &:hover {
    background-color: $gray-100;
  }
}

.item {
  width: 100%;
}

.flex-cont {
  display: flex;
  flex-wrap: wrap;
}

.flex-cont > div {
  flex: 0 50%;
}

.card-columns {
  img {
    object-fit: cover;
  }
  @include media-breakpoint-only(xs) {
    column-count: 1;
  }
  @include media-breakpoint-only(sm) {
    column-count: 2;
  }
  @include media-breakpoint-only(md) {
    column-count: 3;
  }
  @include media-breakpoint-only(lg) {
    column-count: 4;
  }
  @include media-breakpoint-only(xl) {
    column-count: 4;
  }
}

.table-container {
  overflow-x: auto;
}

table {
  th {
    font-size: 14px;
    border-right: 1px solid $gray-400;
    border-bottom: 1px solid $gray-400;
    &:last-child {
      border-right: 0;
    }
  }
  th[sortable] {
    &.desc::before {
      content: "\2191";
    }
    &.asc::before {
      content: "\2193";
    }
  }
  tr {
    td {
      vertical-align: middle !important;
    }
  }
}

.tab-content {
  .tab-pane {
    margin-top: -1px;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
  }
}

.ng-autocomplete {
  .x {
    background-color: $white;
  }

  .autocomplete-container {
    box-shadow: none;
    position: relative;
    overflow: visible;
    height: 38px;
    border: 1px solid $gray-400;
    border-radius: 5px;

    &.active {
      .is-visible {
        border: 1px solid $gray-400;
      }
    }

    .input-container {
      input {
        border-radius: 5px;
        height: 36px;
      }
    }

    .suggestions-container {
      box-shadow: none;
      margin-top: 0;
      border-radius: 5px;
    }
  }
}

$line-clamp: 1, 2, 3, 4, 5, 6;

@each $line in $line-clamp {
  .line-clamp-#{$line} {
    /*  stylelint-disable-next-line property-no-vendor-prefix */
    -webkit-box-orient: vertical;
    /*  stylelint-disable-next-line value-no-vendor-prefix */
    display: -webkit-box;
    -webkit-line-clamp: $line;
    overflow: hidden;
  }
}
