@import "src/theme/_variables";

/*
 * Global application theme.
 * Framework overrides and customization goes here.
 */

.container-fluid {
  padding-right: 5%;
  padding-left: 5%;
  @include media-breakpoint-down(lg) {
    padding-right: 15px;
    padding-left: 15px;
  }
}

.nav-link.dropdown-toggle {
  cursor: pointer;
}

.cursor-pointer {
  cursor: pointer;
}

.word-break {
  word-break: break-all;
}

.nav-tabs {
  @include media-breakpoint-down(lg) {
    white-space: nowrap;
    flex-wrap: nowrap;
    overflow-x: auto;
  }
}

.nav-tabs .nav-link {
  border-width: 0 0 4px 0;
  border-bottom-color: transparent;
  &.active {
    color: $white;
    background-color: $primary;
    border-bottom-color: $primary;
    &:hover {
      color: $primary;
    }
  }

  &:hover {
    background-color: $gray-100;
  }
}

.item {
  width: 100%;
}

.flex-cont {
  display: flex;
  flex-wrap: wrap;
}

.flex-cont > div {
  flex: 0 50%;
}

.card-columns {
  .card {
    position: inherit;
  }
  img {
    object-fit: cover;
  }
  @include media-breakpoint-only(xs) {
    column-count: 1;
  }
  @include media-breakpoint-only(sm) {
    column-count: 2;
  }
  @include media-breakpoint-only(md) {
    column-count: 3;
  }
  @include media-breakpoint-only(lg) {
    column-count: 4;
  }
  @include media-breakpoint-only(xl) {
    column-count: 4;
  }
}

.new-table {
  padding: 15px;
  table {
    border-collapse: separate;
    border-spacing: 0 10px;
    thead {
      th {
        border: 0;
      }
    }
    tbody {
      tr {
        border-radius: 5px;
        box-shadow: 0 0.1rem 1rem rgb(0 0 0 / 15%);
      }
    }
  }
}

.table-container {
  overflow-x: auto;
}

table {
  th {
    font-size: 14px;
    border-right: 1px solid $gray-400;
    border-bottom: 1px solid $gray-400;
    &:last-child {
      border-right: 0;
    }
  }
  th[sortable] {
    &::before {
      content: "\2195 ";
      opacity: 0.7;
    }
    &.desc::before {
      content: "\2191 ";
      opacity: 1;
    }
    &.asc::before {
      content: "\2193 ";
      opacity: 1;
    }
  }
  tr {
    td {
      vertical-align: middle !important;
    }
  }
}

.tab-content {
  .tab-pane {
    margin-top: -1px;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
  }
}

.ng-autocomplete {
  .x {
    background-color: $white;
  }

  .autocomplete-container {
    box-shadow: none;
    position: relative;
    overflow: visible;
    height: 38px;
    border: 1px solid $gray-400;
    border-radius: 5px;

    &.active {
      .is-visible {
        border: 1px solid $gray-400;
      }
    }

    .input-container {
      input {
        border-radius: 5px;
        height: 36px;
      }
    }

    .suggestions-container {
      box-shadow: none;
      margin-top: 0;
      border-radius: 5px;
    }
  }
}

$line-clamp: 1, 2, 3, 4, 5, 6;

@each $line in $line-clamp {
  .line-clamp-#{$line} {
    /*  stylelint-disable-next-line property-no-vendor-prefix */
    -webkit-box-orient: vertical;
    /*  stylelint-disable-next-line value-no-vendor-prefix */
    display: -webkit-box;
    -webkit-line-clamp: $line;
    overflow: hidden;
  }
}

.card-1 {
  background-color: #e1bee7;
}
.card-2 {
  background-color: #ffcdd2;
}

.card-3 {
  background-color: #f8bbd0;
}

.card-4 {
  background-color: #d1c4e9;
}

.card-5 {
  background-color: #c5cae9;
}

.card-6 {
  background-color: #bbdefb;
}

.card-7 {
  background-color: #b3e5fc;
}

.card-8 {
  background-color: #b2ebf2;
}

.card-9 {
  background-color: #b2dfdb;
}

.card-10 {
  background-color: #c8e6c9;
}

.card-11 {
  background-color: #dcedc8;
}

.card-12 {
  background-color: #f0f4c3;
}

.card-13 {
  background-color: #fff9c4;
}

.card-14 {
  background-color: #ffecb3;
}

.card-15 {
  background-color: #ffe0b2;
}

.card-16 {
  background-color: #ffccbc;
}

.card-17 {
  background-color: #ffcdd2;
}
