<div class="container-fluid" *ngIf="allUserList$ | async as allUserList">
  <div class="w-100 row m-0">
    <div class="col-md-8 col-12 p-0 d-flex align-items-center">
      <!-- <strong *ngIf="tableData" class="pb-2">Total Users Count: {{ tableData.length }}</strong> -->
      <strong *ngIf="tableData" class="pb-2"
        >Active Users: {{ getUserCount(tableData, true) }} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Disabled Users:
        {{ getUserCount(tableData, false) }}</strong
      >
    </div>
    <div class="align-items-center col-md-4 col-12 p-0 d-flex justify-content-end">
      <app-table-filter
        class="w-100"
        [data]="allUserList"
        (tableData)="tableValue($event)"
        [searchFields]="['email', 'name', 'phone', 'expertise', 'created_dt', 'loginCount']"
      ></app-table-filter>
    </div>
  </div>
  <div class="table-container border">
    <table id="all-user-list" class="mt-20 table table-striped table-hover table-bordered">
      <thead>
        <tr>
          <th style="width: 300px" scope="col" sortable="email" (sort)="onSort($event)">Email</th>
          <th style="width: 200px" scope="col" sortable="name" (sort)="onSort($event)">Name</th>
          <th style="width: 200px" scope="col" sortable="phone" (sort)="onSort($event)">Phone#</th>
          <th style="width: 150px" scope="col" sortable="expertise" (sort)="onSort($event)">Expertise</th>
          <th style="width: 150px" scope="col" sortable="lastLogin" (sort)="onSort($event)">Last Login</th>
          <th style="width: 150px" scope="col" sortable="loginCount" (sort)="onSort($event)">Login Count</th>
          <th style="width: 150px" scope="col" sortable="created_dt" (sort)="onSort($event)">Create Date</th>
          <th style="width: 150px" scope="col" sortable="created_dt" (sort)="onSort($event)">Create Date</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let row of tableData; let i = index" class="table-row">
          <td class="word-break">{{ row.email }}</td>
          <td class="word-break">{{ row.name }}</td>
          <td>{{ row.phone }}</td>
          <td>{{ row.expertise }}</td>
          <td>{{ row.lastLogin === 'Invalid date' ? '' : (row.lastLogin | date) }}</td>
          <td>{{ row.loginCount }}</td>
          <td>{{ row.created_dt | date }}</td>
          <td>
            <div *ngIf="row.isValid">
              <button (click)="disableUser(row.email)" class="btn btn-primary float-left">Disable User</button>
            </div>
            <div *ngIf="!row.isValid">
              <button (click)="enableUser(row.email)" class="btn btn-outline-secondary float-left">Enable User</button>
            </div>
            <div class="mt-5" *ngIf="row.commentsArr.length > 0">
              <a href="javascript:void(0);" (click)="enableViewComments(i, row.commentsArr)"
                >{{ row.commentsArr.length }} Comments</a
              >
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
