@import "src/theme/_variables";

.navbar {
  margin-bottom: $spacer;
}

.nav-link.dropdown-toggle {
  cursor: pointer;
}

.accuracy-label {
  font-size: 100%;
  background: orange;
}

.logo-img {
  height: 50px;
  width: 200px !important;
}

.navbar-top {
  margin-bottom: 0 !important;
  border-bottom: 5px solid #000;
}

.close-of-date {
  letter-spacing: 3px;
  color: #000;
}

.as-of-date {
  font-size: 1.5rem;
  background-color: yellow;
  color: black;
}

.thankyou-for-feedback {
  background-color: yellow;
}
