@import "src/theme/_variables";

.navbar {
  margin-bottom: $spacer;
}

.social-links {
  a {
    font-size: 22px;
    color: #212529;
    border: none;
    margin-right: 10px;
    &:hover {
      color: #212529 !important;
      border: none;
    }
  }
}

.back-icon {
  font-size: 20px;
  border-radius: 50%;
  border: 1px solid #ddd;
  padding: 8px;
  color: #212529;
}

.accuracy-label {
  font-size: 100%;
  background: orange;
}

.logo-img {
  width: 200px;
  height: 100%;
}

.ng-autocomplete {
  max-width: 300px;
}

.email-container {
  max-width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.navbar-top {
  margin-bottom: 0;
  border-bottom: 2px solid $gray-300;
}

.sub-navbar {
  background-color: #f2f2f2;
}

.fa-user-circle {
  font-size: 34px;
  margin-top: 3px;
}

.close-of-date {
  letter-spacing: 3px;
  color: #000;
}

.as-of-date {
  font-size: 1rem;
  // background-color: $yellow;
  color: $black;
}

.thankyou-for-feedback {
  background-color: $yellow;
  position: fixed;
  width: 350px;
  right: 10px;
  top: 70px;
  z-index: 9999;
  color: $black;
}

@include media-breakpoint-down(md) {
  .ng-autocomplete {
    margin-bottom: 10px;
    max-width: calc(100vw - 50px);
  }

  .dropdown {
    .dropdown-toggle {
      padding-left: 0 !important;
    }
  }

  .email-container {
    max-width: 100%;
    white-space: normal;
    overflow: hidden;
    text-overflow: unset;
  }
}
@include media-breakpoint-down(md) {
  .navbar-collapse {
    background: $white;
    padding: 10px;
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%);
  }
}

.login-area {
  background: #fe8c00;
  border: 1px solid #fff;
  color: #fff !important;

  padding: 10px 20px;
  border-radius: 50px;
  font-weight: 700;
}

a {
  border: 1px solid transparent;
  &:hover {
    background: none;
    border: 1px solid #fe8c00;
    color: #fe8c00 !important;
  }
}
