<header>
  <nav *ngIf="userProfile$ | async as userProfile" class="navbar navbar-top navbar-expand-lg navbar-light bg-light">
    <!-- <a class="navbar-brand" href="https://www.liste.ai" translate>APP_NAME</a> -->
    <i *ngIf="this.history.length" (click)="backClicked()" class="fa-2x fa-arrow-left fas back-icon"></i>

    <a class="d-flex ml-auto mr-auto navbar-brand" href="https://www.liste.ai" style="display: contents" translate>
      <img class="card-img-top mr-3 logo-img" src="assets/logo-size.png" alt="Card image cap" /><img />
    </a>

    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbar-menu"
      aria-controls="navbar-menu"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div id="navbar-menu" class="collapse navbar-collapse float-xs-none" [ngbCollapse]="menuHidden">
      <div class="navbar-nav">
        <a class="nav-item nav-link mr-3" routerLink="/topPicks" routerLinkActive="active">
          <span translate>Home</span>
        </a>
        <a class="nav-item nav-link mr-3" routerLink="/myPortfolio" routerLinkActive="active">
          <span translate>Portfolio</span>
        </a>
        <a class="nav-item nav-link mr-3" routerLink="/listCards" routerLinkActive="active">
          <span translate>Ideas</span>
        </a>
        <a class="nav-item nav-link mr-3" routerLink="/sectorList" routerLinkActive="active">
          <span translate>Sector</span>
        </a>
        <a class="nav-item nav-link mr-3" routerLink="/industryList" routerLinkActive="active">
          <span translate>Industry</span>
        </a>
        <!-- <a class="nav-item nav-link mr-3" routerLink="/uploadPortfolio" routerLinkActive="active">
          <span translate>Upload_history</span>
        </a> -->
      </div>

      <div class="ml-auto mt-3 mt-lg-0 navbar-nav">
        <div class="ng-autocomplete align-items-center d-flex">
          <ng-autocomplete
            [data]="data"
            placeholder="Search - Symbol/Company Name"
            [searchKeyword]="keyword"
            (selected)="selectEvent($event)"
            (inputChanged)="onChangeSearch($event)"
            [itemTemplate]="itemTemplate"
            (inputCleared)="clearFilter($event)"
            debounceTime="600"
            [notFoundTemplate]="notFoundTemplate"
          >
          </ng-autocomplete>

          <ng-template #itemTemplate let-item>
            <a [innerHTML]="item.name"></a>
          </ng-template>

          <ng-template #notFoundTemplate let-notFound>
            <div [innerHTML]="notFound"></div>
          </ng-template>
        </div>

        <div class="nav-item" ngbDropdown>
          <a id="user-dropdown" class="nav-link p-0 pl-4" ngbDropdownToggle>
            <i class="fas fa-user-circle"></i>
          </a>
          <div ngbDropdownMenu aria-labelledby="user-dropdown" class="dropdown-menu dropdown-menu-right">
            <div class="small text-center px-3 email-container">{{ email }}</div>
            <div class="dropdown-divider"></div>
            <button class="dropdown-item" (click)="profile()" translate>Profile</button>
            <button class="dropdown-item" (click)="distributions()" translate>ROI distribution</button>
            <button
              class="dropdown-item"
              *ngIf="userProfile.user.profile.acct_type === 'ADMIN'"
              (click)="displayAllUsers()"
              translate
            >
              Admin - All User List
            </button>
            <button
              class="dropdown-item"
              *ngIf="userProfile.user.profile.acct_type === 'ADMIN'"
              (click)="displayTopStocksFromPast()"
              translate
            >
              Admin - Top Stocks History
            </button>
            <button
              class="dropdown-item"
              *ngIf="userProfile.user.profile.acct_type === 'ADMIN'"
              (click)="displayAdminControls()"
              translate
            >
              Admin Controls
            </button>
            <button class="dropdown-item" (click)="logout()" translate>Logout</button>
          </div>
        </div>
      </div>
    </div>
  </nav>

  <div>
    <div class="tradingview-widget-container" id="tickerTapeWidgetHeader">
      <div class="tradingview-widget-container__widget"></div>
    </div>
    <nav
      class="navbar navbar-expand navbar-light py-2 sub-navbar"
      *ngIf="webDisplayDate$ | async as webDisplayDateElement"
    >
      <div class="row m-0 w-100">
        <div class="d-flex">
          <span class="align-items-center bg-primary d-flex px-3 rounded text-light"
            >Portfolio Value: {{ portfolioValue }}</span
          >
        </div>
        <div class="navbar-nav ml-auto float-right">
          <div *ngIf="!showThankYouForFeedbackFlag" class="d-md-block d-none">
            <button type="button" (click)="openModal(mymodal)" class="btn btn-outline-primary btn-sm">
              Leave us a comment
            </button>
          </div>
        </div>
      </div>
    </nav>
  </div>
</header>

<div
  *ngIf="showThankYouForFeedbackFlag"
  class="alert alert-warning alert-dismissible fade show mb-0 thankyou-for-feedback"
  role="alert"
>
  Thank you for your feedback. We really appreciate it !
  <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="closeThankYouForFeedbackAlert()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<ng-template #mymodal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Please give us your thoughts.</h4>
  </div>
  <div class="modal-body">
    <textarea
      class="form-control"
      rows="5"
      [(ngModel)]="userFeedback"
      type="text"
      placeholder="Add your feedback here ..."
    ></textarea>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary btn-sm" aria-label="Close" (click)="modal.dismiss('Cross click')">
      Close
    </button>
    <button type="button" class="btn btn btn-primary btn-sm" (click)="modal.close('Save click')">Send</button>
  </div>
</ng-template>
