<header *ngIf="userProfile$ | async as userProfile">
  <nav class="navbar navbar-top navbar-expand-lg navbar-light bg-light">
    <!-- <a class="navbar-brand" href="https://www.liste.ai" translate>APP_NAME</a> -->
    <a class="navbar-brand" href="https://www.liste.ai" style="display: contents" translate>
      <img class="card-img-top mr-3 logo-img" src="assets/logo-size.png" alt="Card image cap" /><img />
    </a>

    <div id="navbar-menu" class="collapse navbar-collapse float-xs-none" [ngbCollapse]="menuHidden">
      <div class="navbar-nav">
        <a class="nav-item nav-link text-uppercase mr-3" routerLink="/topPicks" routerLinkActive="active">
          <i class="fas fa-home"></i>
          <span translate>Home</span>
        </a>
        <a class="nav-item nav-link text-uppercase mr-3" routerLink="/listCards" routerLinkActive="active">
          <i class="fas fa-chess"></i>
          <span translate>Ideas</span>
        </a>
        <a class="nav-item nav-link text-uppercase mr-3" routerLink="/uploadPortfolio" routerLinkActive="active">
          <i class="fas fa-upload"></i>
          <span translate>Upload_history</span>
        </a>
        <div class="ng-autocomplete">
          <ng-autocomplete
            [data]="data"
            placeholder="Search - Symbol/Company Name"
            [searchKeyword]="keyword"
            (selected)="selectEvent($event)"
            (inputChanged)="onChangeSearch($event)"
            (inputFocused)="onFocused($event)"
            [itemTemplate]="itemTemplate"
            debounceTime="600"
            [notFoundTemplate]="notFoundTemplate"
          >
          </ng-autocomplete>

          <ng-template #itemTemplate let-item>
            <a [innerHTML]="item.name"></a>
          </ng-template>

          <ng-template #notFoundTemplate let-notFound>
            <div [innerHTML]="notFound"></div>
          </ng-template>
        </div>
      </div>

      <div class="navbar-nav ml-auto">
        <a class="nav-item nav-link text-uppercase mr-3" routerLink="/profile" routerLinkActive="active">
          <i class="far fa-address-card"></i>
          <span translate>Profile</span>
        </a>

        <div class="nav-item" ngbDropdown>
          <a id="user-dropdown" class="nav-link" ngbDropdownToggle>
            <span class="font-weight-bold">{{ email }}</span>
            <i class="fas fa-user-circle"></i>
          </a>
          <div ngbDropdownMenu aria-labelledby="user-dropdown" class="dropdown-menu dropdown-menu-right">
            <!-- <h6 class="dropdown-header">
              <span translate>Logged in as</span> <b>{{ email }}</b>
            </h6> -->
            <!-- <div class="dropdown-divider"></div> -->
            <button class="dropdown-item" (click)="distributions()" translate>ROI distribution</button>
            <button
              class="dropdown-item"
              *ngIf="userProfile.user.profile.acct_type === 'ADMIN'"
              (click)="displayAllUsers()"
              translate
            >
              Admin - All User List
            </button>
            <button class="dropdown-item" (click)="logout()" translate>Logout</button>
          </div>
        </div>
      </div>
    </div>
  </nav>
  <nav class="navbar navbar-expand-md navbar-light bg-light" *ngIf="webDisplayDate$ | async as webDisplayDateElement">
    <small class="close-of-date"
      >Data & Analysis updates as of close of Market :
      <span class="h1 badge badge-secondary as-of-date">{{ webDisplayDateElement.value_str | date }}</span>
    </small>
    <div class="navbar-nav ml-auto">
      <div *ngIf="!showThankYouForFeedbackFlag">
        <span class="small close-of-date mt-2">How are we doing ?</span>
        <a class="ml-4 mr-2" style="cursor: pointer" (click)="!!emojiClick('happy')">
          <img style="width: 25px" src="assets/happy_emoji.png" />
        </a>
        <a class="ml-2 mr-2" style="cursor: pointer" (click)="!!emojiClick('neutral')">
          <img style="width: 25px" src="assets/neutral_emoji.png" />
        </a>
        <a class="ml-2 mr-4" style="cursor: pointer" (click)="!!emojiClick('sad')">
          <img style="width: 25px" src="assets/sad_emoji.png" />
        </a>
        <button type="button" (click)="openModal(mymodal)" class="btn btn-secondary btn-sm">Leave us a comment</button>
      </div>
      <div
        *ngIf="showThankYouForFeedbackFlag"
        class="alert alert-warning alert-dismissible fade show mb-0 thankyou-for-feedback"
        role="alert"
      >
        Thank you for your feedback. We really appreciate it !
        <button
          type="button"
          class="close"
          data-dismiss="alert"
          aria-label="Close"
          (click)="closeThankYouForFeedbackAlert()"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    </div>
  </nav>
</header>

<ng-template #mymodal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Thank you for the feedback !</h4>
  </div>
  <div class="modal-body">
    <textarea
      class="form-control"
      rows="5"
      [(ngModel)]="userFeedback"
      type="text"
      placeholder="Add your feedback here ..."
    ></textarea>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary btn-sm" aria-label="Close" (click)="modal.dismiss('Cross click')">
      Close
    </button>
    <button type="button" class="btn btn btn-primary btn-sm" (click)="modal.close('Save click')">Update</button>
  </div>
</ng-template>

<ng-template #itemTemplate let-item>
  <a [innerHTML]="item.name"></a>
</ng-template>

<ng-template #notFoundTemplate let-notFound>
  <div [innerHTML]="notFound"></div>
</ng-template>
