<footer class="text-center page-footer py-4">
  <div>
    <a href="https://static.liste.ai/terms.html">Terms of Service</a>
    <span> | </span>
    <a href="https://static.liste.ai/privacy.html">Privacy Policy</a>
    <span> | </span>
    <a href="javascript:void(0);" (click)="gotoContactus()">Contact Us</a>
  </div>
  <div>Quotes delayed 15 minutes for NASDAQ, and 20 minutes for NYSE and AMEX.</div>
  <div>Copyright © {{ currentDate }} Liste.ai. All Rights Reserved.</div>
  <div class="tradingview-widget-copyright">
    <a href="https://www.tradingview.com/markets/" rel="noopener" target="_blank"
      ><span class="blue-text">Markets today</span></a
    >
    by TradingView
  </div>
</footer>
